<a href="https://colab.research.google.com/github/DevNicque/MyCods/blob/master/base_enel_transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Configurações**

In [67]:
!pip install elasticsearch
!pip install unidecode
!pip install googlemaps==4.4.2

Requirement already satisfied: elasticsearch in /usr/local/lib/python3.6/dist-packages (7.10.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (2020.12.5)
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (1.24.3)
Requirement already satisfied: unidecode in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: googlemaps==4.4.2 in /usr/local/lib/python3.6/dist-packages (4.4.2)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps==4.4.2) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (2020.12.5)

In [68]:
import pandas as pd
from unidecode import unidecode
import googlemaps

import calendar
from datetime import date,datetime, timedelta

from elasticsearch import helpers,Elasticsearch
import json

In [69]:
apiKey = "AIzaSyAe_cJgn33vJnHCc1pE8usrS5N8WfdxvSE"
gmaps = googlemaps.Client(key=apiKey)

In [70]:
elasticsearch_username = 'elastic'
elasticsearch_password = 'gxjzXnMQ9ZGHE9Huc7'
elasticsearch_host = '159.89.82.132'
es = Elasticsearch(server_hostname=[elasticsearch_host],
    http_auth=(elasticsearch_username,
    elasticsearch_password),scheme="https",
    hosts=[elasticsearch_host],port=9300,
    verify_certs=False)

/usr/local/lib/python3.6/dist-packages/elasticsearch/connection/http_urllib3.py:206: UserWarning: Connecting to https://159.89.82.132:9300 using SSL with verify_certs=False is insecure.
  % self.host

*Função de Geolocalização*

In [71]:
def get_lat_lng(end):
    result = gmaps.geocode(end)
    if(result):
        lat = str(result[0]['geometry']['location']['lat'])
        lng = str(result[0]['geometry']['location']['lng'])
        return float(lat), float(lng)
    else:
        return 0.0,0.0

In [72]:
#### Função que extrai as Ids das RAs
def extrai_id(df):
    lista_id = []
    for i in df.compid:
        resp = i.split('.')
        tam = len(resp[0].split('R'))
        if tam == 2:
            resp = resp[0].split('R')[1]
            
            if resp.find('A') != -1:
                resp = resp.split('A')[1]
            
            lista_id.append(resp)
        
        else:
            lista_id.append(resp[0])
    return lista_id

#**Importação dos dados**

**Tabelas Teixeira**

In [429]:
df_fa = pd.read_csv('falha_abrir.csv')

In [430]:
df_ff = pd.read_csv('falha_fechar.csv')

In [431]:
df_fb = pd.read_csv('falha_bateria.csv')

In [432]:
df_risco = pd.read_csv('df_all_risco.csv')

In [433]:
df_previsao = pd.read_csv('previsto_modelo.csv')

In [434]:
df_count_ra = pd.read_excel('religadoras_contagem.xlsx')

**Tabela de cluster**

In [435]:
df_freq_bob_fechar = pd.read_csv('df_final_bob_fechar.csv')

In [436]:
df_freq_bob_abrir = pd.read_csv('df_final_bob_abrir.csv')

In [437]:
df_freq_bateria = pd.read_csv('df_final_bateria_soma_med.csv')

**Tabelas originais**

In [438]:
df_ra_cadastro = pd.read_excel('RA CA RM BF - cadastro.xlsx')

In [439]:
df_clientes = pd.read_excel('clientes_ras.xlsx')

In [440]:
df_atividades_ra = pd.read_excel('AtividadesReligadoreASM - 2018-2019-2020.xlsx')

#**Tratamento dos Dados**

##**Tratamento da tabela de falhas**

In [441]:
week_day = ('Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo')
mes_ext = {'01': 'Jan', '02' : 'Fev', '03': 'Mar', '04': 'Abr', '05': 'Mai', '06': 'Jun', '07': 'Jul', '08': 'Ago', '09': 'Set', '10': 'Out', '11': 'Nov', '12': 'Dez'}

****

In [442]:
df_fa['tipo'] = 'falha_abrir'
df_fa = df_fa.drop(columns=['Unnamed: 0'])
df_fa.rename(columns={'dia': 'data'}, inplace = True)
df_fa.rename(columns={'value': 'tempo_falha'}, inplace = True)
df_fa.rename(columns={'id': 'id_ra'}, inplace = True)

df_fa["ano"] = [x[0:4] for x in df_fa['data']]
df_fa["mes"] = [x[5:7] for x in df_fa['data']]
df_fa["mes_ext"] = [mes_ext[x[5:7]] for x in df_fa['data']]
df_fa["dia"] = [x[8:10] for x in df_fa['data']]
df_fa["dia_semana"] = [week_day[datetime.strptime(x, "%Y-%m-%d").weekday()] for x in df_fa['data']]
df_fa['data_pt'] = [data[8:10]  + '/'+  data[5:7]+'/' +data[:4] for data in df_fa['data']]


df_fa.head()

     id_ra        data      hora  ...  dia    dia_semana     data_pt
0  3247927  2018-01-02  11:56:34  ...   02   Terça-feira  02/01/2018
1      250  2018-01-02  12:26:12  ...   02   Terça-feira  02/01/2018
2    60468  2018-01-03  11:34:03  ...   03  Quarta-feira  03/01/2018
3     5914  2018-01-09  13:54:18  ...   09   Terça-feira  09/01/2018
4  3170488  2018-01-09  17:34:20  ...   09   Terça-feira  09/01/2018

[5 rows x 11 columns]

In [443]:
df_ff['tipo'] = 'falha_fechar'
df_ff = df_ff.drop(columns=['Unnamed: 0'])
df_ff.rename(columns={'dia': 'data'}, inplace = True)
df_ff.rename(columns={'value': 'tempo_falha'}, inplace = True)
df_ff.rename(columns={'id': 'id_ra'}, inplace = True)

df_ff["ano"] = [x[0:4] for x in df_ff['data']]
df_ff["mes"] = [x[5:7] for x in df_ff['data']]
df_ff["mes_ext"] = [mes_ext[x[5:7]] for x in df_ff['data']]
df_ff["dia"] = [x[8:10] for x in df_ff['data']]
df_ff["dia_semana"] = [week_day[datetime.strptime(x, "%Y-%m-%d").weekday()] for x in df_ff['data']]
df_ff['data_pt'] = [data[8:10]  + '/'+  data[5:7]+'/' +data[:4] for data in df_ff['data']]

df_ff.head()

     id_ra        data      hora  ...  dia    dia_semana     data_pt
0  3247927  2018-01-02  11:56:34  ...   02   Terça-feira  02/01/2018
1      250  2018-01-02  12:26:12  ...   02   Terça-feira  02/01/2018
2      250  2018-01-02  12:29:07  ...   02   Terça-feira  02/01/2018
3    60468  2018-01-03  11:34:03  ...   03  Quarta-feira  03/01/2018
4     5914  2018-01-09  13:54:17  ...   09   Terça-feira  09/01/2018

[5 rows x 11 columns]

In [444]:
df_fb['tipo'] = 'falha_bateria'
df_fb = df_fb.drop(columns=['Unnamed: 0'])
df_fb.rename(columns={'dia': 'data'}, inplace = True)
df_fb.rename(columns={'value': 'tempo_falha'}, inplace = True)
df_fb.rename(columns={'id': 'id_ra'}, inplace = True)


df_fb["ano"] = [x[0:4] for x in df_fb['data']]
df_fb["mes"] = [x[5:7] for x in df_fb['data']]
df_fb["mes_ext"] = [mes_ext[x[5:7]] for x in df_fb['data']]
df_fb["dia"] = [x[8:10] for x in df_fb['data']]
df_fb["dia_semana"] = [week_day[datetime.strptime(x, "%Y-%m-%d").weekday()] for x in df_fb['data']]
df_fb['data_pt'] = [data[8:10]  + '/'+  data[5:7]+'/' +data[:4] for data in df_fb['data']]

df_fb.head()

     id_ra        data      hora  ...  dia   dia_semana     data_pt
0  3538550  2020-03-06  09:07:06  ...   06  Sexta-feira  06/03/2020
1  3538550  2020-03-06  11:18:43  ...   06  Sexta-feira  06/03/2020
2  3538550  2020-03-31  04:19:02  ...   31  Terça-feira  31/03/2020
3  3538550  2020-03-31  07:28:44  ...   31  Terça-feira  31/03/2020
4  3214120  2018-11-24  22:23:29  ...   24       Sábado  24/11/2018

[5 rows x 11 columns]

##**Tratamento das tabelas cluster**

###**Falha bonina fechar**

In [445]:
df_freq_bob_fechar.head()

      id_x  ...  Identificador do Circuito ConcatSet
0       15  ...                            JAC  0102
1  3137325  ...                            MAZ  0110
2  3221041  ...                 ALP  0103, ALP  0104
3    39604  ...                            RGR  0104
4  3293572  ...                            PRE  0104

[5 rows x 17 columns]

In [446]:
df_freq_bob_fechar = df_freq_bob_fechar.drop(columns=['atende_clientes_Cluster'])

df_freq_bob_fechar.columns = ['id_ra','frequencia','media_temp_alarm','soma_tempo_alarm','qtd_clientes','qtd_falha','status_falha','numero_campo','municipio','sigla_regiao',
                          'tipo_regiao','longitude','latitude','regiao','loc_circuito','id_circuito']
df_freq_bob_fechar['tipo'] = 'falha_fechar'
df_freq_bob_fechar.head()

     id_ra  frequencia  ...           id_circuito          tipo
0       15         2.0  ...             JAC  0102  falha_fechar
1  3137325         2.0  ...             MAZ  0110  falha_fechar
2  3221041         2.0  ...  ALP  0103, ALP  0104  falha_fechar
3    39604         2.0  ...             RGR  0104  falha_fechar
4  3293572         2.0  ...             PRE  0104  falha_fechar

[5 rows x 17 columns]

###**Falha bonina abrir**

In [447]:
df_freq_bob_abrir.head()

      id_x  ...  Identificador do Circuito ConcatSet
0       15  ...                            JAC  0102
1     2270  ...                            BRU  0111
2    60442  ...                            GJU  0105
3  3143163  ...                            LAP  0107
4  3174077  ...                            IVI  0104

[5 rows x 17 columns]

In [448]:
df_freq_bob_abrir = df_freq_bob_abrir.drop(columns=['atende_clientes_Cluster'])

df_freq_bob_abrir.columns = ['id_ra','frequencia','media_temp_alarm','soma_tempo_alarm','qtd_clientes','qtd_falha','status_falha','numero_campo','municipio','sigla_regiao',
                          'tipo_regiao','longitude','latitude','regiao','loc_circuito','id_circuito']
df_freq_bob_abrir['tipo'] = 'falha_abrir'
df_freq_bob_abrir.head()

     id_ra  frequencia  ...  id_circuito         tipo
0       15         1.0  ...    JAC  0102  falha_abrir
1     2270         1.0  ...    BRU  0111  falha_abrir
2    60442         1.0  ...    GJU  0105  falha_abrir
3  3143163         1.0  ...    LAP  0107  falha_abrir
4  3174077         1.0  ...    IVI  0104  falha_abrir

[5 rows x 17 columns]

###**Falha bonina bateria**

In [449]:
df_freq_bateria.head()

      id_x  ...  Identificador do Circuito ConcatSet
0  3130808  ...                            PAR  0103
1  3116568  ...                            MAZ  0106
2  3138492  ...                            GPR  0104
3  3128717  ...                            GNA  0102
4  3156537  ...                            DIA  0111

[5 rows x 17 columns]

In [450]:
df_freq_bateria = df_freq_bateria.drop(columns=['atende_clientes_Cluster'])

df_freq_bateria.columns = ['id_ra','frequencia','media_temp_alarm','soma_tempo_alarm','qtd_clientes','qtd_falha','status_falha','numero_campo','municipio','sigla_regiao',
                          'tipo_regiao','longitude','latitude','regiao','loc_circuito','id_circuito']
df_freq_bateria['tipo'] = 'falha_bateria'
df_freq_bateria.head()

     id_ra  frequencia  ...  id_circuito           tipo
0  3130808        79.0  ...    PAR  0103  falha_bateria
1  3116568        30.0  ...    MAZ  0106  falha_bateria
2  3138492        31.0  ...    GPR  0104  falha_bateria
3  3128717        17.0  ...    GNA  0102  falha_bateria
4  3156537         9.0  ...    DIA  0111  falha_bateria

[5 rows x 17 columns]

##**Tratamento da tabela cadastro de RA's**

In [451]:
df_ra_cadastro.head()

         Id Número De Campo  ... Normal Status Identificador do Circuito ConcatSet
0  19191412     068BF241545  ...            NF                           JUQ  0106
1  19191413     068BF241589  ...            NF                           JUQ  0106
2  19191414     068BF244378  ...            NF                           JUQ  0106
3  19191415     068BF245551  ...            NF                           JUQ  0106
4  19191416     068BF245552  ...            NF                           JUQ  0106

[5 rows x 26 columns]

In [452]:
df_ra_cadastro = df_ra_cadastro.drop(columns=['Google Maps', 'Unnamed: 4', 'Unnamed: 5', 'Elo Fusível', 'Seccionador_Qtds'])
df_ra_cadastro.columns = ['id_ra','numero_campo','coordenadas','tipo_dispositivo','status','tipo_rede','tipo_propetario','montagem','scada_tipo','scada_ponto_controle',
                          'scada_ponto_supervisao', 'municipio', 'sigla_regiao','conj_eletrico_antigo','tipo_regiao','longitude','latitude','regiao','loc_circuito','normal_status','id_circuito']
df_ra_cadastro = df_ra_cadastro[df_ra_cadastro.tipo_dispositivo.eq('RA')]
df_ra_cadastro.head()

       id_ra numero_campo  ... normal_status id_circuito
26  19191446  068RA041332  ...            NF   JUQ  0106
27  19191447  068RA041044  ...            NF   JUQ  0106
32  19191455  068RA001181  ...            NF   JUQ  0106
51  19191482  068RA041329  ...            NF   JUQ  0106
62  19191495  068RA041330  ...            NF   JUQ  0106

[5 rows x 21 columns]

##**Tratamento da tabela manutenção de RA's**

In [453]:
df_atividades_ra.head()

     L.Nome  ...                                               Nota
0  R3087037  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
1  R3230600  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
2  R3339368  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
3  R3255509  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
4  R3223121  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...

[5 rows x 6 columns]

In [454]:
df_atividades_ra.columns = ['id_ra','circuito','data_encerramento','numero_sistema','atividade_realizada','observacoes']
df_atividades_ra['id_ra'] = df_atividades_ra['id_ra'].str.lstrip("RA")
df_atividades_ra['id_ra'] = df_atividades_ra['id_ra'].str.lstrip("R")
df_atividades_ra

         id_ra  ...                                        observacoes
0      3087037  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
1      3230600  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
2      3339368  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
3      3255509  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
4      3223121  ...  SEQUENCIA DE GRADUAÇÃO: X \n GRADUAR COM PROTE...
...        ...  ...                                                ...
38138  3067097  ...  MODEM OFFLINE\n\nATIVIDADE CONCLUIDA\nMODEM IN...
38139   041390  ...    10036238 SBCR 5340097 Substituição painel\n\...
38140   004112  ...  MCC_CTL107_CTL108\n\nATIVIDADE CONCLUIDA\nMODE...
38141   004112  ...  Reestabelecer comunicação do equipamento \nATI...
38142  3193820  ...  Reestabelecer comunicação do equipamento \n\nA...

[38143 rows x 6 columns]

In [455]:
df_atividade_count = df_atividades_ra.groupby(['id_ra']).size().reset_index(name="count").sort_values(by=['count'], ascending=False)
df_atividade_count['id_ra'] = df_atividade_count['id_ra'].astype('int64', copy=False)
df_atividade_count

        id_ra  count
4978  3230694     47
4797  3217307     38
4302  3154530     37
4651  3208130     35
240       954     33
...       ...    ...
5962  5730719      1
5963  5730739      1
5965  5730833      1
4535  3184234      1
5758  5680022      1

[6575 rows x 2 columns]

In [473]:
df_atividades_ra.to_json(f'manutencao_ra_enel.json',orient="records")

##**Análise de tabelas de previsão e risco**

previsão

In [456]:
df_previsao.head()

        id  predito_modelo
0  3247927       57.030648
1      250      -72.564094
2    60468      311.660105
3     5914      207.657266
4  3170488      103.864732

In [457]:
df_previsao.columns = ['id_ra','predito_modelo']
df_previsao.head()

     id_ra  predito_modelo
0  3247927       57.030648
1      250      -72.564094
2    60468      311.660105
3     5914      207.657266
4  3170488      103.864732

risco

In [458]:
df_risco.head()

        id  fa_quant   fa_value  ...  bat_quant  bat_value       risco
0  3247927       1.0   2.383333  ...        0.0        0.0    4.766667
1      250       1.0   2.916667  ...        0.0        0.0  583.983333
2    60468       1.0  38.716667  ...        0.0        0.0   77.450000
3     5914       1.0  23.850000  ...        0.0        0.0   47.716667
4  3170488       1.0   9.050000  ...        0.0        0.0   18.116667

[5 rows x 8 columns]

In [459]:
df_risco.columns = ['id_ra','fa_qtd','fa_tempo','ff_qtd','ff_tempo','bat_qtd','bat_tempo','risco']
df_risco.head()

     id_ra  fa_qtd   fa_tempo  ...  bat_qtd  bat_tempo       risco
0  3247927     1.0   2.383333  ...      0.0        0.0    4.766667
1      250     1.0   2.916667  ...      0.0        0.0  583.983333
2    60468     1.0  38.716667  ...      0.0        0.0   77.450000
3     5914     1.0  23.850000  ...      0.0        0.0   47.716667
4  3170488     1.0   9.050000  ...      0.0        0.0   18.116667

[5 rows x 8 columns]

#**União Tabelas**

##**Unindo dataframes**

###*Falha bobina abrir*

**falha e previsão**

In [460]:
df_falha_bobina_abrir = pd.merge(df_fa,df_previsao,  how="outer", left_index=True, right_index=True, on='id_ra')
df_falha_bobina_abrir

       id_ra        data      hora  ...    dia_semana     data_pt predito_modelo
0    3247927  2018-01-02  11:56:34  ...   Terça-feira  02/01/2018      57.030648
1        250  2018-01-02  12:26:12  ...   Terça-feira  02/01/2018     -72.564094
2      60468  2018-01-03  11:34:03  ...  Quarta-feira  03/01/2018     311.660105
3       5914  2018-01-09  13:54:18  ...   Terça-feira  09/01/2018     207.657266
4    3170488  2018-01-09  17:34:20  ...   Terça-feira  09/01/2018     103.864732
..       ...         ...       ...  ...           ...         ...            ...
859    60015  2020-07-08  14:34:38  ...  Quarta-feira  08/07/2020            NaN
860    60015  2020-07-08  14:48:02  ...  Quarta-feira  08/07/2020            NaN
861    60015  2020-07-08  14:49:02  ...  Quarta-feira  08/07/2020            NaN
862    39575  2020-07-09  13:39:39  ...  Quinta-feira  09/07/2020            NaN
863    39575  2020-07-09  14:13:03  ...  Quinta-feira  09/07/2020            NaN

[864 rows x 12 columns]

**falha e manutenção**

In [461]:
df_falha_bobina_abrir = pd.merge(df_falha_bobina_abrir,df_atividade_count,  how="left", left_index=True, right_index=True, on='id_ra')
df_falha_bobina_abrir

       id_ra        data      hora  ...     data_pt predito_modelo count
0    3247927  2018-01-02  11:56:34  ...  02/01/2018      57.030648     3
1        250  2018-01-02  12:26:12  ...  02/01/2018     -72.564094     4
2      60468  2018-01-03  11:34:03  ...  03/01/2018     311.660105    10
3       5914  2018-01-09  13:54:18  ...  09/01/2018     207.657266    10
4    3170488  2018-01-09  17:34:20  ...  09/01/2018     103.864732     3
..       ...         ...       ...  ...         ...            ...   ...
859    60015  2020-07-08  14:34:38  ...  08/07/2020            NaN     5
860    60015  2020-07-08  14:48:02  ...  08/07/2020            NaN     3
861    60015  2020-07-08  14:49:02  ...  08/07/2020            NaN     3
862    39575  2020-07-09  13:39:39  ...  09/07/2020            NaN     4
863    39575  2020-07-09  14:13:03  ...  09/07/2020            NaN     3

[864 rows x 13 columns]

**falha e cluster**

In [462]:
df_falha_bobina_abrir = pd.merge(df_falha_bobina_abrir,df_freq_bob_abrir,  how="outer", left_index=True, right_index=True, on=['id_ra','tipo'])
df_falha_bobina_abrir

       id_ra        data      hora  ...  regiao    loc_circuito id_circuito
0    3247927  2018-01-02  11:56:34  ...   Norte          JACANA   JAC  0102
1        250  2018-01-02  12:26:12  ...   Oeste         BARUERI   BRU  0111
2      60468  2018-01-03  11:34:03  ...   Norte  GRANJA JULIETA   GJU  0105
3       5914  2018-01-09  13:54:18  ...   Oeste            LAPA   LAP  0107
4    3170488  2018-01-09  17:34:20  ...   Oeste         ITAPEVI   IVI  0104
..       ...         ...       ...  ...     ...             ...         ...
859    60015  2020-07-08  14:34:38  ...     NaN             NaN         NaN
860    60015  2020-07-08  14:48:02  ...     NaN             NaN         NaN
861    60015  2020-07-08  14:49:02  ...     NaN             NaN         NaN
862    39575  2020-07-09  13:39:39  ...     NaN             NaN         NaN
863    39575  2020-07-09  14:13:03  ...     NaN             NaN         NaN

[864 rows x 28 columns]

###*Falha bobina fechar*

**falha e previsão**

In [463]:
df_falha_bobina_fechar = pd.merge(df_ff,df_previsao,  how="outer", left_index=True, right_index=True, on='id_ra')
df_falha_bobina_fechar

       id_ra        data      hora  ...    dia_semana     data_pt predito_modelo
0    3247927  2018-01-02  11:56:34  ...   Terça-feira  02/01/2018      57.030648
1        250  2018-01-02  12:26:12  ...   Terça-feira  02/01/2018     -72.564094
2        250  2018-01-02  12:29:07  ...   Terça-feira  02/01/2018     311.660105
3      60468  2018-01-03  11:34:03  ...  Quarta-feira  03/01/2018     207.657266
4       5914  2018-01-09  13:54:17  ...   Terça-feira  09/01/2018     103.864732
..       ...         ...       ...  ...           ...         ...            ...
876    60015  2020-07-08  14:49:02  ...  Quarta-feira  08/07/2020            NaN
877    39575  2020-07-09  13:01:35  ...  Quinta-feira  09/07/2020            NaN
878    39575  2020-07-09  13:03:01  ...  Quinta-feira  09/07/2020            NaN
879    39575  2020-07-09  13:39:39  ...  Quinta-feira  09/07/2020            NaN
880    39575  2020-07-09  14:13:03  ...  Quinta-feira  09/07/2020            NaN

[881 rows x 12 columns]

**falha e manutenção**

In [464]:
df_falha_bobina_fechar = pd.merge(df_falha_bobina_fechar,df_atividade_count,  how="left", left_index=True, right_index=True, on='id_ra')
df_falha_bobina_fechar

       id_ra        data      hora  ...     data_pt predito_modelo count
0    3247927  2018-01-02  11:56:34  ...  02/01/2018      57.030648     3
1        250  2018-01-02  12:26:12  ...  02/01/2018     -72.564094     4
2        250  2018-01-02  12:29:07  ...  02/01/2018     311.660105    10
3      60468  2018-01-03  11:34:03  ...  03/01/2018     207.657266    10
4       5914  2018-01-09  13:54:17  ...  09/01/2018     103.864732     3
..       ...         ...       ...  ...         ...            ...   ...
876    60015  2020-07-08  14:49:02  ...  08/07/2020            NaN     6
877    39575  2020-07-09  13:01:35  ...  09/07/2020            NaN     6
878    39575  2020-07-09  13:03:01  ...  09/07/2020            NaN     3
879    39575  2020-07-09  13:39:39  ...  09/07/2020            NaN     6
880    39575  2020-07-09  14:13:03  ...  09/07/2020            NaN     5

[881 rows x 13 columns]

**falha e cluster**

In [465]:
df_falha_bobina_fechar = pd.merge(df_falha_bobina_fechar,df_freq_bob_fechar,  how="outer", left_index=True, right_index=True, on=['id_ra','tipo'])
df_falha_bobina_fechar

       id_ra        data      hora  ...  regiao loc_circuito           id_circuito
0    3247927  2018-01-02  11:56:34  ...   Norte       JACANA             JAC  0102
1        250  2018-01-02  12:26:12  ...     Sul   MONTE AZUL             MAZ  0110
2        250  2018-01-02  12:29:07  ...   Oeste   ALPHAVILLE  ALP  0103, ALP  0104
3      60468  2018-01-03  11:34:03  ...     Sul   RIO GRANDE             RGR  0104
4       5914  2018-01-09  13:54:17  ...     Sul  PARELHEIROS             PRE  0104
..       ...         ...       ...  ...     ...          ...                   ...
876    60015  2020-07-08  14:49:02  ...     NaN          NaN                   NaN
877    39575  2020-07-09  13:01:35  ...     NaN          NaN                   NaN
878    39575  2020-07-09  13:03:01  ...     NaN          NaN                   NaN
879    39575  2020-07-09  13:39:39  ...     NaN          NaN                   NaN
880    39575  2020-07-09  14:13:03  ...     NaN          NaN                   NaN

[881 rows x 28 columns]

###*Falha bateria*

**falha e previsão**

In [466]:
df_falha_bateria = pd.merge(df_fb,df_previsao,  how="outer", left_index=True, right_index=True, on='id_ra')
df_falha_bateria

       id_ra        data      hora  ...   dia_semana     data_pt predito_modelo
0    3538550  2020-03-06  09:07:06  ...  Sexta-feira  06/03/2020      57.030648
1    3538550  2020-03-06  11:18:43  ...  Sexta-feira  06/03/2020     -72.564094
2    3538550  2020-03-31  04:19:02  ...  Terça-feira  31/03/2020     311.660105
3    3538550  2020-03-31  07:28:44  ...  Terça-feira  31/03/2020     207.657266
4    3214120  2018-11-24  22:23:29  ...       Sábado  24/11/2018     103.864732
..       ...         ...       ...  ...          ...         ...            ...
497  3279961         NaN       NaN  ...          NaN         NaN      67.649380
498  3996737         NaN       NaN  ...          NaN         NaN      55.512346
499    39759         NaN       NaN  ...          NaN         NaN      23.850903
500  3165381         NaN       NaN  ...          NaN         NaN      28.853408
501  3138492         NaN       NaN  ...          NaN         NaN      42.031255

[502 rows x 12 columns]

**falha e manutenção**

In [467]:
df_falha_bateria = pd.merge(df_falha_bateria,df_atividade_count,  how="left", left_index=True, right_index=True, on='id_ra')
df_falha_bateria

       id_ra        data      hora  ...     data_pt predito_modelo count
0    3538550  2020-03-06  09:07:06  ...  06/03/2020      57.030648     3
1    3538550  2020-03-06  11:18:43  ...  06/03/2020     -72.564094     4
2    3538550  2020-03-31  04:19:02  ...  31/03/2020     311.660105    10
3    3538550  2020-03-31  07:28:44  ...  31/03/2020     207.657266    10
4    3214120  2018-11-24  22:23:29  ...  24/11/2018     103.864732     3
..       ...         ...       ...  ...         ...            ...   ...
497  3279961         NaN       NaN  ...         NaN      67.649380     3
498  3996737         NaN       NaN  ...         NaN      55.512346     4
499    39759         NaN       NaN  ...         NaN      23.850903     5
500  3165381         NaN       NaN  ...         NaN      28.853408     3
501  3138492         NaN       NaN  ...         NaN      42.031255     3

[502 rows x 13 columns]

**falha e cluster**

In [468]:
df_falha_bateria = pd.merge(df_falha_bateria,df_freq_bateria,  how="outer", left_index=True, right_index=True, on=['id_ra','tipo'])
df_falha_bateria

       id_ra        data      hora  ...  regiao loc_circuito id_circuito
0    3538550  2020-03-06  09:07:06  ...   Oeste     PARNAIBA   PAR  0103
1    3538550  2020-03-06  11:18:43  ...     Sul   MONTE AZUL   MAZ  0106
2    3538550  2020-03-31  04:19:02  ...   Norte   GATO PRETO   GPR  0104
3    3538550  2020-03-31  07:28:44  ...   Leste   GUAIANAZES   GNA  0102
4    3214120  2018-11-24  22:23:29  ...     Sul      DIADEMA   DIA  0111
..       ...         ...       ...  ...     ...          ...         ...
497  3279961         NaN       NaN  ...     NaN          NaN         NaN
498  3996737         NaN       NaN  ...     NaN          NaN         NaN
499    39759         NaN       NaN  ...     NaN          NaN         NaN
500  3165381         NaN       NaN  ...     NaN          NaN         NaN
501  3138492         NaN       NaN  ...     NaN          NaN         NaN

[502 rows x 28 columns]

##**Concatenando dataframes**

In [470]:
base_trat_enel = pd.concat([df_falha_bobina_abrir, df_falha_bobina_fechar,df_falha_bateria])
base_trat_enel

       id_ra        data      hora  ...  regiao    loc_circuito id_circuito
0    3247927  2018-01-02  11:56:34  ...   Norte          JACANA   JAC  0102
1        250  2018-01-02  12:26:12  ...   Oeste         BARUERI   BRU  0111
2      60468  2018-01-03  11:34:03  ...   Norte  GRANJA JULIETA   GJU  0105
3       5914  2018-01-09  13:54:18  ...   Oeste            LAPA   LAP  0107
4    3170488  2018-01-09  17:34:20  ...   Oeste         ITAPEVI   IVI  0104
..       ...         ...       ...  ...     ...             ...         ...
497  3279961         NaN       NaN  ...     NaN             NaN         NaN
498  3996737         NaN       NaN  ...     NaN             NaN         NaN
499    39759         NaN       NaN  ...     NaN             NaN         NaN
500  3165381         NaN       NaN  ...     NaN             NaN         NaN
501  3138492         NaN       NaN  ...     NaN             NaN         NaN

[2247 rows x 28 columns]

In [471]:
base_trat_enel.to_json(f'base_trat_enel.json',orient="records")
base_trat_enel.to_csv('base_trat_enel.csv',sep=";", encoding='utf-8')
base_trat_enel.to_excel('base_trat_enel.xlsx')

#**Envio para Elastic Search**

base completa tratada

In [472]:
f = open ('base_trat_enel.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'base_trat_enel',
    'id': f"Item{cont}",
    '_source': i
  }

  itens.append(dict)
  cont+=1


helpers.bulk(es,itens)

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

(2247, [])

tabela de manutenção ra's

In [474]:
f = open ('manutencao_ra_enel.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'manutencao_ra_enel',
    'id': f"Item{cont}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)
/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

(38143, [])