<a href="https://colab.research.google.com/github/DevNicque/MyCods/blob/master/base_enel_transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Configurações**

In [2]:
!pip install elasticsearch
!pip install unidecode
!pip install googlemaps==4.4.2

Requirement already satisfied: elasticsearch in /usr/local/lib/python3.6/dist-packages (7.10.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (2020.12.5)
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (1.24.3)
Requirement already satisfied: unidecode in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: googlemaps==4.4.2 in /usr/local/lib/python3.6/dist-packages (4.4.2)
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps==4.4.2) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (2.10)

In [74]:
import pandas as pd
from unidecode import unidecode
import googlemaps

import calendar
from datetime import date,datetime, timedelta

from elasticsearch import helpers,Elasticsearch
import json

In [4]:
apiKey = "AIzaSyAe_cJgn33vJnHCc1pE8usrS5N8WfdxvSE"
gmaps = googlemaps.Client(key=apiKey)

In [5]:
elasticsearch_username = 'elastic'
elasticsearch_password = 'gxjzXnMQ9ZGHE9Huc7'
elasticsearch_host = '159.89.82.132'
es = Elasticsearch(server_hostname=[elasticsearch_host],
    http_auth=(elasticsearch_username,
    elasticsearch_password),scheme="https",
    hosts=[elasticsearch_host],port=9300,
    verify_certs=False)

/usr/local/lib/python3.6/dist-packages/elasticsearch/connection/http_urllib3.py:206: UserWarning: Connecting to https://159.89.82.132:9300 using SSL with verify_certs=False is insecure.
  % self.host

*Função de Geolocalização*

In [6]:
def get_lat_lng(end):
    result = gmaps.geocode(end)
    if(result):
        lat = str(result[0]['geometry']['location']['lat'])
        lng = str(result[0]['geometry']['location']['lng'])
        return float(lat), float(lng)
    else:
        return 0.0,0.0

#**Importação dos dados**

In [101]:
df_fa = pd.read_csv('falha_abrir.csv')

In [102]:
df_ff = pd.read_csv('falha_fechar.csv')

In [103]:
df_fb = pd.read_csv('falha_bateria.csv')

In [61]:
df_ra_cadastro = pd.read_excel('RA CA RM BF - cadastro.xlsx')

In [42]:
df_freq_bob_fechar = pd.read_csv('df_final_bob_fechar.csv')

In [ ]:
df_count_ra = pd.read_excel('religadoras_contagem.xlsx')

In [ ]:
df_clientes = pd.read_excel('clientes_enel.xlsx')

#**Tratamento dos Dados**

##**Tratamento da tabela de falhas**

In [77]:
week_day = ('Segunda-feira', 'Terça-feira', 'Quarta-feira', 'Quinta-feira', 'Sexta-feira', 'Sábado', 'Domingo')
mes_ext = {'01': 'Jan', '02' : 'Fev', '03': 'Mar', '04': 'Abr', '05': 'Mai', '06': 'Jun', '07': 'Jul', '08': 'Ago', '09': 'Set', '10': 'Out', '11': 'Nov', '12': 'Dez'}

****

In [104]:
df_fa['tipo'] = 'falha_abrir'
df_fa = df_fa.drop(columns=['Unnamed: 0'])
df_fa.rename(columns={'dia': 'data'}, inplace = True)
df_fa.rename(columns={'value': 'tempo_falha'}, inplace = True)
df_fa.rename(columns={'id': 'id_ra'}, inplace = True)

df_fa["ano"] = [x[0:4] for x in df_fa['data']]
df_fa["mes"] = [x[5:7] for x in df_fa['data']]
df_fa["mes_ext"] = [mes_ext[x[5:7]] for x in df_fa['data']]
df_fa["dia"] = [x[8:10] for x in df_fa['data']]
df_fa["dia_semana"] = [week_day[datetime.strptime(x, "%Y-%m-%d").weekday()] for x in df_fa['data']]
df_fa['data_pt'] = [data[8:10]  + '/'+  data[5:7]+'/' +data[:4] for data in df_fa['data']]


df_fa.head()

     id_ra        data      hora  ...  dia    dia_semana     data_pt
0  3247927  2018-01-02  11:56:34  ...   02   Terça-feira  02/01/2018
1      250  2018-01-02  12:26:12  ...   02   Terça-feira  02/01/2018
2    60468  2018-01-03  11:34:03  ...   03  Quarta-feira  03/01/2018
3     5914  2018-01-09  13:54:18  ...   09   Terça-feira  09/01/2018
4  3170488  2018-01-09  17:34:20  ...   09   Terça-feira  09/01/2018

[5 rows x 11 columns]

In [105]:
df_ff['tipo'] = 'falha_fechar'
df_ff = df_ff.drop(columns=['Unnamed: 0'])
df_ff.rename(columns={'dia': 'data'}, inplace = True)
df_ff.rename(columns={'value': 'tempo_falha'}, inplace = True)
df_ff.rename(columns={'id': 'id_ra'}, inplace = True)

df_ff["ano"] = [x[0:4] for x in df_ff['data']]
df_ff["mes"] = [x[5:7] for x in df_ff['data']]
df_ff["mes_ext"] = [mes_ext[x[5:7]] for x in df_ff['data']]
df_ff["dia"] = [x[8:10] for x in df_ff['data']]
df_ff["dia_semana"] = [week_day[datetime.strptime(x, "%Y-%m-%d").weekday()] for x in df_ff['data']]
df_ff['data_pt'] = [data[8:10]  + '/'+  data[5:7]+'/' +data[:4] for data in df_ff['data']]

df_ff.head()

     id_ra        data      hora  ...  dia    dia_semana     data_pt
0  3247927  2018-01-02  11:56:34  ...   02   Terça-feira  02/01/2018
1      250  2018-01-02  12:26:12  ...   02   Terça-feira  02/01/2018
2      250  2018-01-02  12:29:07  ...   02   Terça-feira  02/01/2018
3    60468  2018-01-03  11:34:03  ...   03  Quarta-feira  03/01/2018
4     5914  2018-01-09  13:54:17  ...   09   Terça-feira  09/01/2018

[5 rows x 11 columns]

In [106]:
df_fb['tipo'] = 'falha_bateria'
df_fb = df_fb.drop(columns=['Unnamed: 0'])
df_fb.rename(columns={'dia': 'data'}, inplace = True)
df_fb.rename(columns={'value': 'tempo_falha'}, inplace = True)
df_fb.rename(columns={'id': 'id_ra'}, inplace = True)


df_fb["ano"] = [x[0:4] for x in df_fb['data']]
df_fb["mes"] = [x[5:7] for x in df_fb['data']]
df_fb["mes_ext"] = [mes_ext[x[5:7]] for x in df_fb['data']]
df_fb["dia"] = [x[8:10] for x in df_fb['data']]
df_fb["dia_semana"] = [week_day[datetime.strptime(x, "%Y-%m-%d").weekday()] for x in df_fb['data']]
df_fb['data_pt'] = [data[8:10]  + '/'+  data[5:7]+'/' +data[:4] for data in df_fb['data']]

df_fb.head()

     id_ra        data      hora  ...  dia   dia_semana     data_pt
0  3538550  2020-03-06  09:07:06  ...   06  Sexta-feira  06/03/2020
1  3538550  2020-03-06  11:18:43  ...   06  Sexta-feira  06/03/2020
2  3538550  2020-03-31  04:19:02  ...   31  Terça-feira  31/03/2020
3  3538550  2020-03-31  07:28:44  ...   31  Terça-feira  31/03/2020
4  3214120  2018-11-24  22:23:29  ...   24       Sábado  24/11/2018

[5 rows x 11 columns]

##**Tratamento da tabela cadastro de RA's**

In [62]:
df_ra_cadastro.head()

         Id Número De Campo  ... Normal Status Identificador do Circuito ConcatSet
0  19191412     068BF241545  ...            NF                           JUQ  0106
1  19191413     068BF241589  ...            NF                           JUQ  0106
2  19191414     068BF244378  ...            NF                           JUQ  0106
3  19191415     068BF245551  ...            NF                           JUQ  0106
4  19191416     068BF245552  ...            NF                           JUQ  0106

[5 rows x 26 columns]

In [63]:
df_ra_cadastro = df_ra_cadastro.drop(columns=['Google Maps', 'Unnamed: 4', 'Unnamed: 5', 'Elo Fusível', 'Seccionador_Qtds'])
df_ra_cadastro.columns = ['id_ra','numero_campo','coordenadas','tipo_dispositivo','status','tipo_rede','tipo_propetario','montagem','scada_tipo','scada_ponto_controle',
                          'scada_ponto_supervisao', 'municipio', 'sigla_regiao','conj_eletrico_antigo','tipo_regiao','longitude','latitude','regiao','loc_circuito','normal_status','id_circuito']
df_ra_cadastro = df_ra_cadastro[df_ra_cadastro.tipo_dispositivo.eq('RA')]
df_ra_cadastro.head()

       id_ra numero_campo  ... normal_status id_circuito
26  19191446  068RA041332  ...            NF   JUQ  0106
27  19191447  068RA041044  ...            NF   JUQ  0106
32  19191455  068RA001181  ...            NF   JUQ  0106
51  19191482  068RA041329  ...            NF   JUQ  0106
62  19191495  068RA041330  ...            NF   JUQ  0106

[5 rows x 21 columns]

###**Falho pois não há padrão de divisão**

In [59]:
for index, row in df_ra_cadastro.iterrows():
    dado = row['coordenadas'].split(',')
    df_ra_cadastro.at[index,'latitude'] = dado[0]
    df_ra_cadastro.at[index,'longitude'] = dado[1]

In [60]:
 df_ra_cadastro.head()

       id_ra numero_campo  ... latitude      longitude
26  19191446  068RA041332  ...      -23  9823751681355
27  19191447  068RA041044  ...      -23  9789501141652
32  19191455  068RA001181  ...      -23  9818280545965
51  19191482  068RA041329  ...      -23  9636289893855
62  19191495  068RA041330  ...      -23  9566319344738

[5 rows x 21 columns]

In [ ]:
for k in df_ra_cadastro['coordenada']:
  dado = k.split(',')
  df_ra_cadastro['latitude'] = dado[0]
  df_ra_cadastro['longitude'] = dado[1]

##**Tratamento das tabelas cluster**

###**Falha bonina fechar**

In [64]:
df_freq_bob_fechar.head()

      id_x  ...  Identificador do Circuito ConcatSet
0       15  ...                            JAC  0102
1  3137325  ...                            MAZ  0110
2  3221041  ...                 ALP  0103, ALP  0104
3    39604  ...                            RGR  0104
4  3293572  ...                            PRE  0104

[5 rows x 17 columns]

In [66]:
df_freq_bob_fechar = df_freq_bob_fechar.drop(columns=['atende_clientes_Cluster'])

df_freq_bob_fechar.columns = ['id_ra','frequencia','media_temp_alarm','soma_tempo_alarm','qtd_clientes','qtd_falha','status_falha','numero_campo','municipio','silga_regiao',
                          'tipo_regiao','longitude','latitude','regiao','loc_circuito','id_circuito']

df_freq_bob_fechar.head()

     id_ra  frequencia  ...  loc_circuito           id_circuito
0       15           4  ...        JACANA             JAC  0102
1  3137325           4  ...    MONTE AZUL             MAZ  0110
2  3221041           4  ...    ALPHAVILLE  ALP  0103, ALP  0104
3    39604           4  ...    RIO GRANDE             RGR  0104
4  3293572           4  ...   PARELHEIROS             PRE  0104

[5 rows x 16 columns]

###**Falha bonina fechar**

In [ ]:
df_freq_bob_fechar.head()

      id_x  ...  Identificador do Circuito ConcatSet
0       15  ...                            JAC  0102
1  3137325  ...                            MAZ  0110
2  3221041  ...                 ALP  0103, ALP  0104
3    39604  ...                            RGR  0104
4  3293572  ...                            PRE  0104

[5 rows x 17 columns]

In [ ]:
df_freq_bob_fechar = df_freq_bob_fechar.drop(columns=['atende_clientes_Cluster'])

df_freq_bob_fechar.columns = ['id_ra','frequencia','media_temp_alarm','soma_tempo_alarm','qtd_clientes','qtd_falha','status_falha','numero_campo','municipio','silga_regiao',
                          'tipo_regiao','longitude','latitude','regiao','loc_circuito','id_circuito']

df_freq_bob_fechar.head()

     id_ra  frequencia  ...  loc_circuito           id_circuito
0       15           4  ...        JACANA             JAC  0102
1  3137325           4  ...    MONTE AZUL             MAZ  0110
2  3221041           4  ...    ALPHAVILLE  ALP  0103, ALP  0104
3    39604           4  ...    RIO GRANDE             RGR  0104
4  3293572           4  ...   PARELHEIROS             PRE  0104

[5 rows x 16 columns]

In [68]:
df_count_ra = df_count_ra.drop(columns=['Unnamed: 0'])
df_count_ra.head()

   religadoras  clientes
0      3223196        93
1      3222232       110
2         1415         3
3      3134257        23
4      3052724        42

###**Falha bonina fechar**

In [ ]:
df_freq_bob_fechar.head()

      id_x  ...  Identificador do Circuito ConcatSet
0       15  ...                            JAC  0102
1  3137325  ...                            MAZ  0110
2  3221041  ...                 ALP  0103, ALP  0104
3    39604  ...                            RGR  0104
4  3293572  ...                            PRE  0104

[5 rows x 17 columns]

In [ ]:
df_freq_bob_fechar = df_freq_bob_fechar.drop(columns=['atende_clientes_Cluster'])

df_freq_bob_fechar.columns = ['id_ra','frequencia','media_temp_alarm','soma_tempo_alarm','qtd_clientes','qtd_falha','status_falha','numero_campo','municipio','silga_regiao',
                          'tipo_regiao','longitude','latitude','regiao','loc_circuito','id_circuito']

df_freq_bob_fechar.head()

     id_ra  frequencia  ...  loc_circuito           id_circuito
0       15           4  ...        JACANA             JAC  0102
1  3137325           4  ...    MONTE AZUL             MAZ  0110
2  3221041           4  ...    ALPHAVILLE  ALP  0103, ALP  0104
3    39604           4  ...    RIO GRANDE             RGR  0104
4  3293572           4  ...   PARELHEIROS             PRE  0104

[5 rows x 16 columns]

In [67]:
df_count_ra.head()

   Unnamed: 0  religadoras  clientes
0           0      3223196        93
1           1      3222232       110
2           2         1415         3
3           3      3134257        23
4           4      3052724        42

##**Tratamento da tabela tot de clientes por religadora**

#**União tabelas**

###*Concatenando os dataframes de falha*

In [107]:
df_falhas = pd.concat([df_fa, df_ff,df_fb],ignore_index=True, sort=False)
df_falhas

        id_ra        data      hora  ...  dia     dia_semana     data_pt
0     3247927  2018-01-02  11:56:34  ...   02    Terça-feira  02/01/2018
1         250  2018-01-02  12:26:12  ...   02    Terça-feira  02/01/2018
2       60468  2018-01-03  11:34:03  ...   03   Quarta-feira  03/01/2018
3        5914  2018-01-09  13:54:18  ...   09    Terça-feira  09/01/2018
4     3170488  2018-01-09  17:34:20  ...   09    Terça-feira  09/01/2018
...       ...         ...       ...  ...  ...            ...         ...
1808  3996737  2020-06-16  21:17:09  ...   16    Terça-feira  16/06/2020
1809  2372987  2020-02-10  09:14:16  ...   10  Segunda-feira  10/02/2020
1810    39759  2020-05-27  22:53:25  ...   27   Quarta-feira  27/05/2020
1811  3165381  2020-06-12  15:59:30  ...   12    Sexta-feira  12/06/2020
1812  3138492  2020-07-01  14:10:32  ...   01   Quarta-feira  01/07/2020

[1813 rows x 11 columns]

###*Unindo dataframes*

In [ ]:
final = pd.merge(df_falhas,df_freq_bob_fechar, how='inner', on='a')

##**Tabela Avaliação central de atendimento**
* Foi aplicado o tratamento no campo comentário sobre a nota - separar nota do comentario

Tratamento da tabela

In [ ]:
df12 = df.loc[:,'Você já fez alguma reclamação ou solicitação na CA?Se SIM, responder P12 e P13. Se NÃO pular para P14':'Observações da Pesquisa: (Atendente)']
df12.columns = df12.loc[0]
df12 = df12.drop(0)
df12.columns = ['fez_alguma_reclamacao_ou_solicitacao','quantas_vezes_abriu_chamado','recebeu_retorno_em_48hs',
                'apresentaram_solucao_da_solicitacao','como_considera_servico_central','comentario_sobre_a_nota','ha_interesse_dos_clientes_nas_ações',
                'ha_aumento_de_vendas_no_período','ha_conquista_de_novos_clientes','comentario_atendente_sobre_pesquisado']
df12.index = df12.index.rename('ID')

aux = 'Por que atribuiu esta nota? Comente'
df12['como_considera_servico_central'] =['0' if x == aux
                                    else x
                                    for x in df12['como_considera_servico_central'] ]


df12['fez_alguma_reclamacao_ou_solicitacao'] = df12['fez_alguma_reclamacao_ou_solicitacao'].fillna(value='nao_informado')
df12['fez_alguma_reclamacao_ou_solicitacao'] = df12['fez_alguma_reclamacao_ou_solicitacao'].str.upper()

df12['quantas_vezes_abriu_chamado'] = df12['quantas_vezes_abriu_chamado'].fillna(value='nao_informado')
df12['recebeu_retorno_em_48hs'] = df12['recebeu_retorno_em_48hs'].fillna(value='nao_informado')
df12['recebeu_retorno_em_48hs'] = df12['recebeu_retorno_em_48hs'].str.upper()

df12['apresentaram_solucao_da_solicitacao'] = df12['apresentaram_solucao_da_solicitacao'].fillna(value='nao_informado')
df12['apresentaram_solucao_da_solicitacao'] = df12['apresentaram_solucao_da_solicitacao'].str.upper()

df12['como_considera_servico_central'] = df12['como_considera_servico_central'].fillna(value=1000)
df12['comentario_sobre_a_nota'] = df12['comentario_sobre_a_nota'].fillna(value='nao_informado')
df12['comentario_sobre_a_nota'] = df12['comentario_sobre_a_nota'].str.capitalize()

df12['comentario_atendente_sobre_pesquisado'] = df12['comentario_atendente_sobre_pesquisado'].fillna(value='nao_informado')
df12['comentario_atendente_sobre_pesquisado'] = df12['comentario_atendente_sobre_pesquisado'].str.capitalize()

#df12 = pd.merge(df12,df_geral, on='ID', left_index=True)

#df11.to_json(f'avaliacao_central_atendimento.json',orient="records")




df12

    fez_alguma_reclamacao_ou_solicitacao  ...              comentario_atendente_sobre_pesquisado
ID                                        ...
1                                    NÃO  ...                                          Mikaellen
2                                    NÃO  ...       Obs: preço da gasolina muito alto  mikaellen
3                                    SIM  ...                                      Nao_informado
4                                    SIM  ...                                      Nao_informado
5                                    SIM  ...                                      Nao_informado
..                                   ...  ...                                                ...
251                                  NÃO  ...  P.14 - atendimento rápido, tem eficiência no a...
252                        NAO_INFORMADO  ...                                      Nao_informado
253                                  NÃO  ...                                      Nao_informado
254                                  NÃO  ...                                      Nao_informado
255                                  NÃO  ...                                      Nao_informado

[255 rows x 10 columns]

Tratamento da nota

In [ ]:
count = 0

for index, row in df12.iterrows():
  for s in row['comentario_sobre_a_nota']:
    try:
      d = int(s)
      if str(type(d)) == "<class 'int'>" :
        #print(s)
        df12.at[index,'como_considera_servico_central'] = d
        break
    except:
      #print('error')
      pass



  if '14' in row['comentario_atendente_sobre_pesquisado']:

    df12.at[index,'comentario_atendente_sobre_pesquisado']  = row['comentario_atendente_sobre_pesquisado'].replace('14','')
    print(df12.at[index,'comentario_atendente_sobre_pesquisado'])

    for c in row['comentario_atendente_sobre_pesquisado']:
      try:
        a = int(c)
        if str(type(a)) == "<class 'int'>" :
          print(a)
          df12.at[index,'como_considera_servico_central'] = a
          break
      except:
        #print('error')
        pass

    
  count +=1

P. - não tem o que reclamar, adquiriu o posto recente, ainda esse ano. quanto as promoções ele não sabe mensurar por ter começado esse ano.    att. chris
P - resp5  geovanna
5
P - r5  mikaellen
5
P- resp- 5
5
P. muito bom sem reclamações.
P- resp-3
3
P resp- 3
3
P satisfeito
P: 5
5
P: nada a reclamar !obs: do cliente há problemas com a concorrencia em relacao ao valor e por isso não a conquista em novos clientes.
P- muito eficiente
P- muito eficiente
P.. percebe constante melhorias.
P. ele percebe constante melhorias.
P. quando precisa de ajuda os atendentes, talvez seja maria o nome da moça, sempre é bem prestativa, resolve rápido quando existe alguma dificuldade com boleto, estão sempre dispostos em ajudar.    quanto a atem no geral:  logo quando começou o negócio, ano passado quando iniciou uma venda forte de diesel, a atem foi a que mais abriu portas, crédito, essas coisas, a relação que ele desenvolveu já é de amizade e fidelidade. ele se sente muito grato e não tem o que reclamar.
P. - atendimento rápido, tem eficiência no atendimento, passa os valores rápido.

Remoção de campos e união de tabelas

In [ ]:

df12 = df12.drop(['ha_interesse_dos_clientes_nas_ações', 'ha_aumento_de_vendas_no_período','ha_conquista_de_novos_clientes', 'comentario_atendente_sobre_pesquisado'], axis='columns')

#df12 = pd.merge(df12,df_geral, on='ID', left_index=True)
df12.to_json(f'avaliacao_central_atendimento.json',orient="records")
df12.to_excel('avaliacao_central_atendimento.xlsx')

df12

    fez_alguma_reclamacao_ou_solicitacao  ...                            comentario_sobre_a_nota
ID                                        ...
1                                    NÃO  ...                                      Nao_informado
2                                    NÃO  ...                                      Nao_informado
3                                    SIM  ...                                      Nao_informado
4                                    SIM  ...                                      Nao_informado
5                                    SIM  ...                                      Nao_informado
..                                   ...  ...                                                ...
251                                  NÃO  ...                                      Nao_informado
252                        NAO_INFORMADO  ...                                      Nao_informado
253                                  NÃO  ...                                      Nao_informado
254                                  NÃO  ...  Ótimo, entro em contato pelo wpp, o atendiment...
255                                  NÃO  ...                               Nunca teve problemas

[255 rows x 6 columns]

Envio para o elasticsearch

In [ ]:
'''f = open ('avaliacao_central_atendimento.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_central_atendimento',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1


helpers.bulk(es,itens)'''

'f = open (\'avaliacao_central_atendimento.json\', "r")\ndata = json.loads(f.read())\nitens = []\ncont = 0\n\nfor i in data:\n  dict = {\n    \'_index\': \'atem_avaliacao_central_atendimento\',\n    \'id\': f"Item{cont}{i[\'data_time\']}",\n    \'_source\': i\n  }\n\n  itens.append(dict)\n  cont+=1\n\n\nhelpers.bulk(es,itens)'

In [ ]:
from functools import reduce

dfs = [df_geral,df2,df5,df6,df7,df8,df9,df10,df11,df12,df13]

def my_merge(df1, df2):
  res = pd.merge(df1, df2,how="outer", left_index=True, right_index=True)
  cols = sorted(res.columns)
  pairs = []

  for col1, col2 in zip(cols[:-1], cols[1:]):
    if col1.endswith("_x") and col2.endswith("_y"):
      pairs.append((col1, col2))
  for col1, col2 in pairs:
    res[col1[:-2]] = res[col1].combine_first(res[col2])
    res = res.drop([col1, col2], axis=1)
  return res

df_final = reduce(my_merge, dfs)
df_final.to_json(f'base_atem.json',orient="records")
df_final.to_csv('base_atem.csv',sep=";", encoding='utf-8')
df_final.to_excel('base_atem.xlsx')
df_final.head()

             data_time  ... existe_novos_clientes
ID                      ...
1  2020-12-22 14:38:37  ...         NAO_INFORMADO
2  2020-12-22 14:38:42  ...         NAO_INFORMADO
3  2020-12-22 11:09:59  ...                   SIM
4  2020-12-22 14:12:22  ...                   SIM
5  2020-12-22 13:31:31  ...                   SIM

[5 rows x 51 columns]

In [ ]:
df_final.describe

<bound method NDFrame.describe of               data_time  ... existe_novos_clientes
ID                       ...
1   2020-12-22 14:38:37  ...         NAO_INFORMADO
2   2020-12-22 14:38:42  ...         NAO_INFORMADO
3   2020-12-22 11:09:59  ...                   SIM
4   2020-12-22 14:12:22  ...                   SIM
5   2020-12-22 13:31:31  ...                   SIM
..                  ...  ...                   ...
251 2020-12-14 15:46:41  ...         NAO_INFORMADO
252 2020-12-14 15:45:21  ...         NAO_INFORMADO
253 2020-12-14 15:43:22  ...                   SIM
254 2020-12-14 15:41:24  ...         NAO_INFORMADO
255 2020-12-14 15:41:25  ...         NAO_INFORMADO

[255 rows x 51 columns]>

In [ ]:
f = open ('base_atem.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_pesquisa_de_satisfacao',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1


helpers.bulk(es,itens)

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

(255, [])