<a href="https://colab.research.google.com/github/DevNicque/MyCods/blob/master/C%C3%B3pia_de_base_atem_transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Configurações

In [3]:
!pip install elasticsearch

Collecting elasticsearch
  Downloading https://files.pythonhosted.org/packages/86/74/054342aa07121f7c82e30ae63e3f257a793a69ddc11c5065449252dcd8af/elasticsearch-7.10.1-py2.py3-none-any.whl (322kB)
     |████████████████████████████████| 327kB 4.2MB/s
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (2020.12.5)
Installing collected packages: elasticsearch
Successfully installed elasticsearch-7.10.1

In [4]:
import pandas as pd
from elasticsearch import Elasticsearch
import json

In [5]:
def send_elasticsearch(index_name, id, documents):
        elasticsearch_username = 'elastic'
        elasticsearch_password = 'gxjzXnMQ9ZGHE9Huc7'
        elasticsearch_host = '159.89.82.132'
        es = Elasticsearch(server_hostname=[elasticsearch_host],
                        http_auth=(elasticsearch_username,
                        elasticsearch_password),scheme="https",
                        hosts=[elasticsearch_host],port=9300,
                        verify_certs=False)
        es.indices.create(index=index_name, ignore=400)
        es.index(index=index_name, id=id, body=documents, doc_type='_doc')

#Importação dos dados

In [6]:
df = pd.read_csv('atem.csv')
df.head()

   respondent_id  ...     Observações da Pesquisa: (Atendente)
0            NaN  ...                      Open-Ended Response
1   1.226668e+10  ...                                MIKAELLEN
2   1.226666e+10  ...  Cliente não tem interesse em responder.
3   1.226666e+10  ...  Cliente não tem interesse em responder.
4   1.226666e+10  ...  Cliente não tem interesse em responder.

[5 rows x 74 columns]

In [7]:
df = df.fillna(value=1000)
df.head()

   respondent_id  ...     Observações da Pesquisa: (Atendente)
0   1.000000e+03  ...                      Open-Ended Response
1   1.226668e+10  ...                                MIKAELLEN
2   1.226666e+10  ...  Cliente não tem interesse em responder.
3   1.226666e+10  ...  Cliente não tem interesse em responder.
4   1.226666e+10  ...  Cliente não tem interesse em responder.

[5 rows x 74 columns]

#Tratamento dos Dados

**Tratamento da tabela geral**

In [27]:
df_geral = df.loc[:,'date_created']
df_geral = df_geral.drop(0)
df_geral.index = df_geral.index.rename('ID')


df_geral.describe

<bound method NDFrame.describe of ID
1      12/17/2020 01:46:57 PM
2      12/17/2020 02:58:55 PM
3      12/17/2020 02:22:27 PM
4      12/17/2020 02:33:53 PM
5      12/17/2020 01:52:50 PM
                ...
178    12/14/2020 03:46:41 PM
179    12/14/2020 03:45:21 PM
180    12/14/2020 03:43:22 PM
181    12/14/2020 03:41:24 PM
182    12/14/2020 03:41:25 PM
Name: date_created, Length: 182, dtype: object>

**Tratamento da tabela cargo**

In [28]:
df3 = df.loc[:,'Qual o cargo do respondente?':'Unnamed: 23']
df3.columns = df3.loc[0]
df3 = df3.drop(0)
df3.columns = ['diretor', 'gerente', 'coordenador', 'assistente', 'outro']
df3.index = df3.index.rename('ID')
#df3 = df3.fillna(value=1)


df3.head()

        diretor  gerente coordenador assistente outro
ID
1          1000  Gerente        1000       1000  1000
2          1000     1000        1000       1000  1000
3          1000     1000        1000       1000  1000
4          1000     1000        1000       1000  1000
5   Diretor (a)     1000        1000       1000  1000

**Tratamento da tabela segmento**

In [29]:
df4 = df.loc[:,'Qual o segmento?':'Unnamed: 31']
df4.columns = df4.loc[0]
df4 = df4.drop(0)

df4.columns = ['ATEM', 'COF', 'COFG', 'POSBB', 'PTAT','PTBB','TRR', 'TRRNI']
df4.index = df4.index.rename('ID')
df4.head()

    ATEM   COF  COFG                           POSBB  PTAT  PTBB   TRR TRRNI
ID
1   1000  1000  1000  POSBB (Postos Bandeira Branca)  1000  1000  1000  1000
2   1000  1000  1000                            1000  1000  1000  1000  1000
3   1000  1000  1000                            1000  1000  1000  1000  1000
4   1000  1000  1000                            1000  1000  1000  1000  1000
5   1000  1000  1000  POSBB (Postos Bandeira Branca)  1000  1000  1000  1000

**Tratamento da tabela Dados dos Pesquisados**

In [31]:
df2 = df.loc[:,'Digite os dados do pesquisado':'Unnamed: 18']
df2.columns = df2.loc[0]
df2 = df2.drop(0)
df2.columns = ['nome', 'empresa','endereco','endereco2','cidade','estado','codigo_postal', 'pais','email','telefone']
df2.index = df2.index.rename('ID')

df2.head()

             nome                            empresa  ... email          telefone
ID                                                    ...
1   ITAMIR ARDUZO  CMJ COMERCIO DE COMBUSTIVEIS LTDA  ...  1000      6599936-9977
2            1000               LEONISIA N N BARROSO  ...  1000  (065) 99284-7825
3            1000               LEONISIA N N BARROSO  ...  1000  (065) 99284-7825
4            1000               LEONISIA N N BARROSO  ...  1000  (065) 99284-7825
5          ORGIER                        O L QUEIROZ  ...  1000    (95) 999711717

[5 rows x 10 columns]

**Incluindo campo cargo**

In [32]:
aux = 1000
df2['Cargo'] =['Diretor' if a != aux
              else 'Gerente' if b != aux
              else 'Coordenador' if c != aux
              else 'Assistente' if d != aux
              else 'Outro' if e != aux
              else 'Não Informado'
              for a,b,c,d,e in zip(df3['diretor'].to_list(), df3['gerente'].to_list(), df3['coordenador'].to_list(), df3['assistente'].to_list(), df3['outro'].to_list())]

df2.head()

             nome  ...          Cargo
ID                 ...
1   ITAMIR ARDUZO  ...        Gerente
2            1000  ...  Não Informado
3            1000  ...  Não Informado
4            1000  ...  Não Informado
5          ORGIER  ...        Diretor

[5 rows x 11 columns]

**Incluindo campo segmento**

In [33]:
df2['Segmento'] =['ATEM' if a != aux
              else 'COF' if b != aux
              else 'COFG' if c != aux
              else 'POSBB' if d != aux
              else 'PTAT' if e != aux
              else 'PTBB' if e != aux
              else 'TRR' if e != aux
              else 'TRRNI' if e != aux
              else 'Não Informado'
              for a,b,c,d,e,f,g,h in zip(df4['ATEM'].to_list(), df4['COF'].to_list(), df4['COFG'].to_list(), df4['POSBB'].to_list(), df4['PTAT'].to_list(), df4['PTBB'].to_list(), df4['TRR'].to_list(), df4['TRRNI'].to_list())]
               

df2.head()

             nome  ...       Segmento
ID                 ...
1   ITAMIR ARDUZO  ...          POSBB
2            1000  ...  Não Informado
3            1000  ...  Não Informado
4            1000  ...  Não Informado
5          ORGIER  ...          POSBB

[5 rows x 12 columns]

**Dados do Pesquisado - Tabela Final**

---

In [34]:
df2 = pd.merge(df2,df_geral, on='ID', left_index=True)

df2.to_json(f'dados_do_pesquisado.json',orient="records")

df2.head()

             nome  ...            date_created
ID                 ...
1   ITAMIR ARDUZO  ...  12/17/2020 01:46:57 PM
2            1000  ...  12/17/2020 02:58:55 PM
3            1000  ...  12/17/2020 02:22:27 PM
4            1000  ...  12/17/2020 02:33:53 PM
5          ORGIER  ...  12/17/2020 01:52:50 PM

[5 rows x 13 columns]

**Tratamento das Tabelas de Avaliação**

---

**Tabela Avaliação do atendimento do acessor comercial**

In [35]:
df5 = df.loc[:,'Quanto a prestação de serviço do seu assessor comercial, classifique os seguintes itens:':'Unnamed: 36']
df5.columns = df5.loc[0]
df5 = df5.drop(0)
df5.columns = ['cordialidade','disponibilidade','eficacia','eficiencia','orientacoes_tecnicas_legais']
df5.index = df5.index.rename('ID')

df5 = pd.merge(df5,df_geral, on='ID', left_index=True)

df5.to_json(f'avaliacao_atendimento_acessorcomercial.json',orient="records")

df5.head()

   cordialidade  ...            date_created
ID               ...
1             5  ...  12/17/2020 01:46:57 PM
2          1000  ...  12/17/2020 02:58:55 PM
3          1000  ...  12/17/2020 02:22:27 PM
4          1000  ...  12/17/2020 02:33:53 PM
5             5  ...  12/17/2020 01:52:50 PM

[5 rows x 6 columns]

**Tabela de Avaliação em nota relacionamento com o acessor comercial**

In [36]:
df6 = df.loc[:,'Em linhas gerais, como considera o relacionamento com o seu assessor comercial:':'Unnamed: 38']
df6.columns = df6.loc[0]
df6 = df6.drop(0)

df6.columns = ['nota', 'comentario']
df6.index = df6.index.rename('ID')

df6 = pd.merge(df6,df_geral, on='ID', left_index=True)

df6.to_json(f'avaliacao_nota_relacionamento_acessorcomercial.json',orient="records")

df6.head()

    nota                                comentario            date_created
ID
1      5  CLIENTE É BEM ATENDIDO NÃO TEVE PROBLEMA  12/17/2020 01:46:57 PM
2   1000                                      1000  12/17/2020 02:58:55 PM
3   1000                                      1000  12/17/2020 02:22:27 PM
4   1000                                      1000  12/17/2020 02:33:53 PM
5      5                                 MUITO BOM  12/17/2020 01:52:50 PM

**Tabela Avaliação do serviço de entrega**

In [37]:
df7 = df.loc[:,'SE ENTREGA responder as perguntas 6 e 7Em caso de entrega do produto no posto ou empresa do cliente, classifique o serviço prestado pela ATEM nos itens abaixo:':'Unnamed: 43']
df7.columns = df7.loc[0]
df7 = df7.drop(0)
df7.columns = ['cordialidade_do_motorista','entrega_no_prazo','ciclo_pedido_adequado','condicoes_de_frota','procedimentos_seguranca_na_entrega']
df7.index = df7.index.rename('ID')

df7 = pd.merge(df7,df_geral, on='ID', left_index=True)

df7.to_json(f'avaliacao_servico_entrega.json',orient="records")


df7.head()

   cordialidade_do_motorista  ...            date_created
ID                            ...
1                       1000  ...  12/17/2020 01:46:57 PM
2                       1000  ...  12/17/2020 02:58:55 PM
3                       1000  ...  12/17/2020 02:22:27 PM
4                       1000  ...  12/17/2020 02:33:53 PM
5                       1000  ...  12/17/2020 01:52:50 PM

[5 rows x 6 columns]

**Tratando e gerando tabela Avaliação em nota do serviço de entrega**

In [39]:
df8 = df.loc[:,'Em linhas gerais como considera o serviço de entrega da ATEM?':'Unnamed: 49']
df8.columns = df8.loc[0]
df8 = df8.drop(0)
#df8.columns = ['cinco ', 'quatro', 'tres', 'dois', 'um','comentario']
df8.index = df8.index.rename('ID')
df8['cinco'] = df8[5.0].astype(int)
df8['quatro'] = df8[4.0].astype(int)
df8['tres'] = df8[3.0].astype(int)
df8['dois'] = df8[2.0].astype(int)
df8['um'] = df8[1.0].astype(int)

aux=1000
df8['Nota'] =['5' if a != aux
              else '4' if b != aux
              else '3' if c != aux
              else '2' if d != aux
              else '1' if e != aux
              else 'Não Informado'
              for a,b,c,d,e in zip(df8['cinco'].to_list(), df8['quatro'].to_list(), df8['tres'].to_list(), df8['dois'].to_list(), df8['um'].to_list())]
               
df8 = df8.drop(columns=[5.0,4.0,3.0,2.0,1.0,'cinco','quatro','tres','dois','um'])
df8.columns = [ 'comentario','nota']

df8 = pd.merge(df8,df_geral, on='ID', left_index=True)

df8.to_json(f'avaliacao_nota_servico_entrega.json',orient="records")

df8.head()

   comentario           nota            date_created
ID
1        1000  Não Informado  12/17/2020 01:46:57 PM
2        1000  Não Informado  12/17/2020 02:58:55 PM
3        1000  Não Informado  12/17/2020 02:22:27 PM
4        1000  Não Informado  12/17/2020 02:33:53 PM
5        1000  Não Informado  12/17/2020 01:52:50 PM

**Tabela Avaliação da retirada do produto na base da ATEM**

In [40]:
df9 = df.loc[:,'SE RETIRA responder as perguntas 8 e 9Em caso de retirada do produto na base da ATEM:':'Unnamed: 54']
df9.columns = df9.loc[0]
df9 = df9.drop(0)
df9.columns = ['cordialidade_do_atendimento','mercadoria_disponivel_no_prazo','tempo_do_ciclo_do_pedido_adequado','procedimentos_de_seguranca_na_entrega','comunicacao_de_agenda_eficiente']
df9.index = df9.index.rename('ID')

df9 = pd.merge(df9,df_geral, on='ID', left_index=True)

df9.to_json(f'avaliacao_retirada_na_base_atem.json',orient="records")

df9.head()

   cordialidade_do_atendimento  ...            date_created
ID                              ...
1                            5  ...  12/17/2020 01:46:57 PM
2                         1000  ...  12/17/2020 02:58:55 PM
3                         1000  ...  12/17/2020 02:22:27 PM
4                         1000  ...  12/17/2020 02:33:53 PM
5                            5  ...  12/17/2020 01:52:50 PM

[5 rows x 6 columns]

**Tratando e Gerando tabela Avaliação em nota da retirada do produto na base da ATEM**

In [42]:

df10 = df.loc[:,'Em linhas gerais como considera o serviço de retirada do produto na base da ATEM?':'Unnamed: 60']
df10.columns = df10.loc[0]
df10 = df10.drop(0)

df10.index = df10.index.rename('ID')

df10['cinco'] = df10[5.0].astype(int)
df10['quatro'] = df10[4.0].astype(int)
df10['tres'] = df10[3.0].astype(int)
df10['dois'] = df10[2.0].astype(int)
df10['um'] = df10[1.0].astype(int)

aux=1000
df10['Nota'] =['5' if a != aux
              else '4' if b != aux
              else '3' if c != aux
              else '2' if d != aux
              else '1' if e != aux
              else 'Não Informado'
              for a,b,c,d,e in zip(df10['cinco'].to_list(), df10['quatro'].to_list(), df10['tres'].to_list(), df10['dois'].to_list(), df10['um'].to_list())]
               
df10 = df10.drop(columns=[5.0,4.0,3.0,2.0,1.0,'cinco','quatro','tres','dois','um'])
df10.columns = ['comentario','nota']
df10 = pd.merge(df10,df_geral, on='ID', left_index=True)


df10.to_json(f'avaliacao_nota_retirada_na_base_atem.json',orient="records")

df10.head()

                                     comentario  ...            date_created
ID                                               ...
1   AS VEZES ATRASA FORA ISSO OTIMO ATENDIMENTO  ...  12/17/2020 01:46:57 PM
2                                          1000  ...  12/17/2020 02:58:55 PM
3                                          1000  ...  12/17/2020 02:22:27 PM
4                                          1000  ...  12/17/2020 02:33:53 PM
5                                          1000  ...  12/17/2020 01:52:50 PM

[5 rows x 3 columns]

**Tabela Avaliação em nota central de atendimento**

In [48]:
df11 = df.loc[:,'Quanto a Central de Atendimento da ATEM, classifique os seguintes itens:':'Unnamed: 63']
df11.columns = df11.loc[0]
df11 = df11.drop(0)
df11.columns = ['cordialidade','eficacia','eficiencia']
df11.index = df11.index.rename('ID')

df11 = pd.merge(df11,df_geral, on='ID', left_index=True)

df11.to_json(f'avaliacao_nota_atendimento_da_central.json',orient="records")

df11.head()

   cordialidade eficacia eficiencia            date_created
ID
1          1000     1000       1000  12/17/2020 01:46:57 PM
2          1000     1000       1000  12/17/2020 02:58:55 PM
3          1000     1000       1000  12/17/2020 02:22:27 PM
4          1000     1000       1000  12/17/2020 02:33:53 PM
5             5        5          5  12/17/2020 01:52:50 PM

**Tabela Avaliação central de atendimento**
* Aplicar tratamento no campo comentário sobre a nota - separar nota do comentario

In [49]:
df12 = df.loc[:,'Você já fez alguma reclamação ou solicitação na CA?Se SIM, responder P12 e P13. Se NÃO pular para P14':'Unnamed: 69']
df12.columns = df12.loc[0]
df12 = df12.drop(0)
df12.columns = ['fez_alguma_reclamacao_ou_solicitacao','quantas_vezes_abriu_chamado','recebeu_retorno_em_48hs','apresentaram_solucao_da_solicitacao','como_considera_servico_central','comentario_sobre_a_nota']
df12.index = df9.index.rename('ID')

df12 = pd.merge(df12,df_geral, on='ID', left_index=True)

#df11.to_json(f'avaliacao_central_atendimento.json',orient="records")


df12.head()

   fez_alguma_reclamacao_ou_solicitacao  ...            date_created
ID                                       ...
1                                   NÃO  ...  12/17/2020 01:46:57 PM
2                                  1000  ...  12/17/2020 02:58:55 PM
3                                  1000  ...  12/17/2020 02:22:27 PM
4                                  1000  ...  12/17/2020 02:33:53 PM
5                                   SIM  ...  12/17/2020 01:52:50 PM

[5 rows x 7 columns]

**Tabela de Avaliação das ações promocionais de marketing**

In [ ]:
df14 = df.loc[:,'Observações da Pesquisa: (Atendente)']
df14.columns = df14.loc[0]
df14 = df14.drop(0)

df14.index = df4.index.rename('ID')

df4 = pd.merge(df4,df_geral, on='ID', left_index=True)


df9.head()

0                        Open-Ended Response
1                                  MIKAELLEN
2    Cliente não tem interesse em responder.
3    Cliente não tem interesse em responder.
4    Cliente não tem interesse em responder.
Name: Observações da Pesquisa: (Atendente), dtype: object

In [51]:
df13 = df.loc[:,'(Somente posto ATEM e pontão ATEM) Quanto as ações promocionais de Marketing, você observa que:':'Unnamed: 72']
df13.columns = df13.loc[0]
df13 = df13.drop(0)
df13.columns = ['existe_interesses_dos_clientes_nas_acoes','existe_aumento_nas_vendas_no_periodo','existe_novos_clientes']

df13.index = df13.index.rename('ID')

df13 = pd.merge(df13,df_geral, on='ID', left_index=True)

df13.to_json(f'avaliacao_acoes_promocionais.json',orient="records")

df13.head()

   existe_interesses_dos_clientes_nas_acoes  ...            date_created
ID                                           ...
1                                      1000  ...  12/17/2020 01:46:57 PM
2                                      1000  ...  12/17/2020 02:58:55 PM
3                                      1000  ...  12/17/2020 02:22:27 PM
4                                      1000  ...  12/17/2020 02:33:53 PM
5                                      1000  ...  12/17/2020 01:52:50 PM

[5 rows x 4 columns]

#Envio do dados

In [ ]:
for item in data_list:
  send_elasticsearch('biblioteca_anuncios',
  item['id'],
  item)