<a href="https://colab.research.google.com/github/DevNicque/MyCods/blob/master/C%C3%B3pia_de_base_atem_transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Configurações**

In [3]:
!pip install elasticsearch
!pip install unidecode
!pip install googlemaps==4.4.2

Collecting elasticsearch
  Downloading https://files.pythonhosted.org/packages/86/74/054342aa07121f7c82e30ae63e3f257a793a69ddc11c5065449252dcd8af/elasticsearch-7.10.1-py2.py3-none-any.whl (322kB)
     |████████████████████████████████| 327kB 9.0MB/s
Requirement already satisfied: urllib3<2,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from elasticsearch) (2020.12.5)
Installing collected packages: elasticsearch
Successfully installed elasticsearch-7.10.1
Collecting unidecode
  Downloading https://files.pythonhosted.org/packages/74/65/91eab655041e9e92f948cb7302e54962035762ce7b518272ed9d6b269e93/Unidecode-1.1.2-py2.py3-none-any.whl (239kB)
     |████████████████████████████████| 245kB 8.6MB/s
Installing collected packages: unidecode
Successfully installed unidecode-1.1.2
Collecting googlemaps==4.4.2
  Downloading https://files.pythonhosted.org/packages/00/fa/508909813a3f0ff969d341695ee0b90cb0e954b4b536f17f15cc19b5c304/googlemaps-4.4.2.tar.gz
Requirement already satisfied: requests<3.0,>=2.20.0 in /usr/local/lib/python3.6/dist-packages (from googlemaps==4.4.2) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (2020.12.5)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0,>=2.20.0->googlemaps==4.4.2) (2.10)
Building wheels for collected packages: googlemaps
  Building wheel for googlemaps (setup.py) ... done
  Created wheel for googlemaps: filename=googlemaps-4.4.2-cp36-none-any.whl size=37858 sha256=d0ef810956709bd1b08edb1e9cd240ab901e164e5b0e231b5fdc9642915cfda9
  Stored in directory: /root/.cache/pip/wheels/f4/21/41/0c84572e21d52bb322f6c299f38ac7cd8ad6d4d6ce23dc3631
Successfully built googlemaps
Installing collected packages: googlemaps
Successfully installed googlemaps-4.4.2

In [4]:
import pandas as pd
from unidecode import unidecode
import googlemaps

import calendar
from datetime import datetime, timedelta

from elasticsearch import helpers,Elasticsearch
import json

In [5]:
apiKey = "AIzaSyAe_cJgn33vJnHCc1pE8usrS5N8WfdxvSE"
gmaps = googlemaps.Client(key=apiKey)

In [6]:
elasticsearch_username = 'elastic'
elasticsearch_password = 'gxjzXnMQ9ZGHE9Huc7'
elasticsearch_host = '159.89.82.132'
es = Elasticsearch(server_hostname=[elasticsearch_host],
    http_auth=(elasticsearch_username,
    elasticsearch_password),scheme="https",
    hosts=[elasticsearch_host],port=9300,
    verify_certs=False)

/usr/local/lib/python3.6/dist-packages/elasticsearch/connection/http_urllib3.py:206: UserWarning: Connecting to https://159.89.82.132:9300 using SSL with verify_certs=False is insecure.
  % self.host

*Função de Geolocalização*

In [7]:
def get_lat_lng(end):
    result = gmaps.geocode(end)
    if(result):
        lat = str(result[0]['geometry']['location']['lat'])
        lng = str(result[0]['geometry']['location']['lng'])
        return float(lat), float(lng)
    else:
        return 0.0,0.0

#**Importação dos dados**

In [10]:
df = pd.read_csv('atem.csv')
df.head()

   respondent_id  ...          Observações da Pesquisa: (Atendente)
0            NaN  ...                           Open-Ended Response
1   1.227786e+10  ...                                     MIKAELLEN
2   1.227785e+10  ...  OBS: PREÇO DA GASOLINA MUITO ALTO  MIKAELLEN
3   1.227784e+10  ...                                           NaN
4   1.227784e+10  ...                                           NaN

[5 rows x 74 columns]

In [11]:
df.describe

<bound method NDFrame.describe of      respondent_id  ...               Observações da Pesquisa: (Atendente)
0              NaN  ...                                Open-Ended Response
1     1.227786e+10  ...                                          MIKAELLEN
2     1.227785e+10  ...       OBS: PREÇO DA GASOLINA MUITO ALTO  MIKAELLEN
3     1.227784e+10  ...                                                NaN
4     1.227784e+10  ...                                                NaN
..             ...  ...                                                ...
251   1.225661e+10  ...  P.14 - Atendimento rápido, tem eficiência no a...
252   1.225660e+10  ...                                                NaN
253   1.225658e+10  ...                                                NaN
254   1.225657e+10  ...                                                NaN
255   1.225657e+10  ...                                                NaN

[256 rows x 74 columns]>

*Dict estados*

In [12]:
sigla_to_estados = {
    'AC': 'Acre',
    'AL': 'Alagoas',
    'AP': 'Amapá',
    'AM': 'Amazonas',
    'BA': 'Bahia',
    'CE': 'Ceará',
    'DF': 'Distrito Federal',
    'ES': 'Espírito Santo',
    'GO': 'Goiás',
    'MA': 'Maranhão',
    'MT': 'Mato Grosso',
    'MS': 'Mato Grosso do Sul',
    'MG': 'Minas Gerais',
    'PA': 'Pará',
    'PB': 'Paraíba',
    'PR': 'Paraná',
    'PE': 'Pernambuco',
    'PI': 'Piauí',
    'RJ': 'Rio de Janeiro',
    'RN': 'Rio Grande do Norte',
    'RS': 'Rio Grande do Sul',
    'RO': 'Rondônia',
    'RR': 'Roraima',
    'SC': 'Santa Catarina',
    'SP': 'São Paulo',
    'SE': 'Sergipe',
    'TO': 'Tocantins'
}

In [13]:
estados_to_sigla = {
    'Acre': 'AC',
    'Alagoas': 'AL',
    'Amapá': 'AP',
    'Amazonas': 'AM',
    'Bahia': 'BA',
    'Ceará': 'CE',
    'Distrito Federal': 'DF',
    'Espírito Santo': 'ES',
    'Goiás': 'GO',
    'Maranhão': 'MA',
    'Mato Grosso': 'MT',
    'Mato Grosso do Sul': 'MS',
    'Minas Gerais': 'MG',
    'Pará': 'PA',
    'Paraíba': 'PB',
    'Paraná': 'PR',
    'Pernambuco': 'PE',
    'Piauí': 'PI',
    'Rio de Janeiro': 'RJ',
    'Rio Grande do Norte': 'RN',
    'Rio Grande do Sul': 'RS',
    'Rondônia': 'RO',
    'Roraima': 'RR',
    'Santa Catarina': 'SC',
    'São Paulo': 'SP',
    'Sergipe': 'SE',
    'Tocantins': 'TO'
}

In [14]:
estados_sem_acento = {
    'Amapa': 'Amapá',
    'Ceara': 'Ceará',
    'Distrito federal': 'Distrito Federal',
    'Espirito santo': 'Espírito Santo',
    'Goias': 'Goiás',
    'Maranhao': 'Maranhão',
    'Mato grosso': 'Mato Grosso',
    'Mato grosso dos sul': 'Mato Grosso do Su',
    'Minas gerais': 'Minas Gerais',
    'Para': 'Pará',
    'Paraiba': 'Paraíba',
    'Parana': 'Paraná',
    'Piaui': 'Piauí',
    'Rio de janeiro': 'Rio de Janeiro',
    'Rio grande do norte': 'Rio Grande do Norte',
    'Rio grande do sul': 'Rio Grande do Sul',
    'Rondonia': 'Rondônia',
    'Santa catarina': 'Santa Catarina',
    'Sao paulo': 'São Paulo',
}

In [15]:
localizacao_do_municipio = {
      'Manaus':'Av.Leonardo Malcher,1870 - Praça 14 de Janeiro, Manaus',
      'Pontes e lacerda':'Rua Ângelo Gajardoni,1477 - Centro, Ponte e Lacerda',
      "Figueiropolis d'oes":'Rua Santa Catarina,146 - Centro, Figueirópolis',
      'Porto velho':'Rua Dom Pedro II,8260 – Centro, Porto Velho',
      'Presidente figueiredo':'R. Itaúba,460 - Morada do Sol, Presidente Figueiredo',
      "Machadinho d'oeste":'AVENIDA CASTELO BRANCO,3.150 - CENTRO, Machadinho do Oeste',
      'Jacareacanga':'Av. Brg. Haroldo Coimbra Veloso,34 - Centro, Jacareacanga',
      'Acrelandia':'Rua Geraldo Barbosa, 766 - Centro, Acrelância',
      'Capixaba':'Av. Gov. Edmundo Pinto, 001 - Centro, Capixaba',
      'Manoel urbano':'Av. Valério Caldas de Magalhães,839 - Centro, Manoel Urbano',
      'Ouro preto do oeste':'Av. Daniel Comboni,1156 - União, Ouro Preto do Oeste',
      'Porto walter':'Rua Alfredo Sales,S/N - Centro, Porto Walter', 
      'Marcelandia':'Rua dos Três Poderes,777 - Centro, Marcelância',
      'Novo progresso':'R. Quinze de Novembro,318 - Jardim Europa, Novo Progresso',
      'Cuiaba':'Praça Alencastro,158 - Centro, Cuiabá',
      'Eirunepe':'R. Intendente J. Pedro,244 - Centro, Eirunepé',
      'Sao gabriel da cachoeira':'R. Quintino de Sá Cavalcante,250 - Dabarú, São Gabriel da Cachoeira',
      'Benevides':'R. Pres. João Batista Figueiredo,5 - Centro, Benevides',
      'Ananindeua':'Av. Independência,05 - Maguari, Ananindeua',
      'Igarape-acu':'Av. Barão do Rio Branco,3913 - Centro, Igarapé-Açu',
      'Barcarena':'R. José Pinheiro Rodrigues,258 - Centro, Barcarena',
      'Cameta':'R. Gentil Bitencourt,01 - Centro, Cametá',
      'Bonito':'R. Cel. Pílad Rébua,1780 - Alvorada, Bonito', 
      'Peixe boi':'Av. João Gomes Pedrosa,500 - Centro, Peixe-Boi',
      'Marapanim':'Travessa Floriano Peixoto,211 – Centro, Marapanim',
      'Tefe':'R. Mal. Deodoro,660 - Centro, Tefé',
      'Theobroma':'Av. 13 de Fevereiro,1431 - Centro, Theobroma',
      'Careiro':'R. Mamori, 402 - Urbano Centro, Careiro',
      'Sao luiz':'Tv. Boa Ventura, 26 - Centro, São Luís',
      'Ariquemes':'Av. Tancredo Neves, 2166 - Setor Institucional, Ariquemes',
      'Humaita':'Rua 13 de Maio, 177 - Centro, Humaitá',
      'Itaituba':'Av. Dr. Hugo de Mendonça, S/N - Boa Esperança, Itaituba',
      "Nova brasilandia d'oeste":"R. Riachuelo, 2552 - Setor 14, Nova Brasilândia D'Oeste",
      'Jaru':'Centro, R. Raimundo Catanhede, 1080 - St. 2, Jaru',
      'Castanheiras':'Av. Jacarandá, 100 - Centro, Castanheira',
      'Varzea grande':'Av. Castelo Branco, 2500 - Centro Sul, Várzea Grande',
      'Maues':' R. Quintino Bocaiúva, 248 - Centro, Maués',
      'Itacoatiara':'R. Dr. Luzardo Ferreira de Melo, 2225 - Jauary, Itacoatiara',
      'Boa Vista do Ramos':'Rua Senador José Esteves, 354 – Centro, Boa Vista do Ramos',
      'Apui':'Av. Treze de Novembro, 375 - Centro, Apuí',
      'Sinop':'Av. das Figueiras, 1096 - St. Comercial, Sinop',
      'Tarauaca':'Av. Cel. Juvêncio de Menezes, 267 - Centro, Tarauacá,',
      'Porto esperidiao':'R. Arnaldo Jorge Leal da Cunha, 444 - Centro, Porto Esperidião',
      'Boa vista':'R. Gen. Penha Brasil, 1011 - São Francisco, Boa Vista',
      'Costa marques':'Av. Chianca, 1381 - Centro, Costa Marques',
      'Lucas do Rio Verde':'Av. América do Sul, 2500 S - Lot. Parque dos Buritis, Lucas do Rio Verde',
      'Caroebe':'R. Paulino Gomes Costa, 1 - Centro, Caroebe',
      'Rolim de moura':'Av. João Pessoa, 4478 - Centro, Rolim de Moura',
      'Nao_informado':'Nao_informado',
      'Sao miguel':'Av. Cacoal, 1726 - Centro, São Miguel do Guaporé',
      'Feijo':'Av. Plácido de Castro, 672 - Centro, Feijó',
      'Barreirinha':'R. Terra Preta do Castanhal, 126 - São Judas Tadeu, Barreirinha',
      'Parintins':' Av. Paes de Andrade, 264 - Centro, Parintins',
      'Oriximina':'Rua Barão do Rio Branco, 2336 - Centro, Oriximin',
      'Terra santa':'Rua Dr.Lauro Sodré, Nº 527 - Centro, Terra Santa', 
      'Nhamunda':'R. Sen. Álvaro Maia, 23 - Centro, Nhamundá',
      'Novo Horizonte do Oeste':'Rua Elza Vieira Lopes, 4803 - Centro, Novo Horizonte do Oeste',
      'Urupa':'Av. Moacir de Paula Vieira, 4401 - Alto Alegre, Urupá',
      'Mirante da serra':'Rua Dom Pedro I, 2389 - Centro, Mirante da Serra',
      'Iranduba':'Praça dos Três Poderes, 60 - Centro, Iranduba',
      'Manacapuru':'Av. Eduardo Ribeiro, 1161 - Centro, Manacapuru',
      'Sao joao':'Av. São Paulo, 1077 - Centro, São João da Baliza',
      'Tapauá':'Av. Presidente Castelo Branco, 360 - Centro, Tapauá',
      'Autazes':'Francisco Barroncas, 462 - Santa Luzia, Autazes',
      'Caracarai':'Praça do Centro Cívico, s/n - Centro, Caracaraí',
      "Santa luzia d'oeste":"Rua 7 de setembro, 2370 - centro, Santa Luzia D'Oeste'",
      'Urucurituba':'Av. Castelo Branco, 488 - Centro, Urucurituba',
      'Rio preto da eva':'Rua Domingos de Andrade, 02 -Centro - Rio Preto da Eva',
      'Cruzeiro do sul':'Av. 7 de Setembro, 195 - Centro, Cruzeiro do Sul',
      'Nossa Senhora do Livramento':'Avenida Coronel Botelho, nº 458 - Centro, Nossa Senhora do Livramento',
      'Tabatinga':'Rua Dario Rodrigues Louzada, 338 - Centro, Tabatinga',
      'Beruri':'Avenida Castelo Branco, 100 - Centro, Beruri',
      'Itapiranga':'Av. Presidente Getúlio Vargas, 156 - Centro,Itapiranga',
      'Seringueiras':'Av. Marechal Rondon, 984 Bairro Centro, Seringueiras',
      'Rio branco':'Rua Rui Barbosa, 285 – Centro, Rio Branco',
      'Novo aripuana':'R. Benjamin Constant, 266 - Nossa Sra. da Conceição, Novo Aripuanã', 
      'Anori':'Praça Capitão Pedro Silva, 168 - Centro, Anori',
      'Ji-Paraná':'Av. Dois de Abril, 1701 – Palácio Urupá, Ji-Paraná',
      'Novo horizonte':'Rua Elza Vieira Lopes, 4803 - Centro, Novo Horizonte do Oeste',
      'Anama':'Rua Álvaro Maia, s/nº - Centro, Anamã',
      'Alto alegre':'Praça Manoel Gomes da Pena, 42 - Centro, Alto Alegre',
      'Belem':'Praça Dom Pedro II, 2 - Cidade Velha, Belém',
      'Nova olinda':'R. Triunfo, 209 - Centro, Nova Olinda do Norte', 
      'Novo mundo':'Rua Nunes Freire, 13 - Alto da Bela Vista, Novo Mundo',
      'Barra do burgues':'Praça Ângelo Masson, 1000 - Centro, Barra do Bugres',
      'Epitaciolandia':'Rua Capitão Pedro Vasconcelos, 257 - Centro, Epitaciolândia',



}

#**Tratamento dos Dados**

##**Tratamento da tabela geral**

In [16]:
df_geral = df.loc[:,'respondent_id':'date_created']
df_geral = df_geral.drop(0)
df_geral.index = df_geral.index.rename('ID')


df_geral['data_time'] = pd.to_datetime( df_geral['date_created'])
# Coluna 'Data'
df_geral['data'] = df_geral['data_time'].dt.strftime('%Y-%m-%d')
# Coluna 'Hora'
df_geral['hora'] = df_geral['data_time'].dt.strftime('%H:%M:%S')
df_geral = df_geral.fillna(value='2000-01-01 00:00:01')

df_geral = df_geral.loc[:,'data_time':'hora']

df_geral.head()

             data_time        data      hora
ID
1  2020-12-22 14:38:37  2020-12-22  14:38:37
2  2020-12-22 14:38:42  2020-12-22  14:38:42
3  2020-12-22 11:09:59  2020-12-22  11:09:59
4  2020-12-22 14:12:22  2020-12-22  14:12:22
5  2020-12-22 13:31:31  2020-12-22  13:31:31

##**Tratamento da tabela dados do pesquisado**

**Tratamento da tabela cargo**

In [67]:
df3 = df.loc[:,'Qual o cargo do respondente?':'Unnamed: 23']
df3.columns = df3.loc[0]
df3 = df3.drop(0)
df3.columns = ['diretor', 'gerente', 'coordenador', 'assistente', 'outro']
df3.index = df3.index.rename('ID')
df3 = df3.fillna(value='nao')


df3.head()

        diretor  gerente coordenador assistente  outro
ID
1           nao      nao         nao        nao  SOCIO
2   Diretor (a)      nao         nao        nao    nao
3           nao  Gerente         nao        nao    nao
4           nao  Gerente         nao        nao    nao
5           nao  Gerente         nao        nao    nao

**Tratamento da tabela segmento**

In [68]:
df4 = df.loc[:,'Qual o segmento?':'Unnamed: 31']
df4.columns = df4.loc[0]
df4 = df4.drop(0)

df4.columns = ['ATEM', 'COF', 'COFG', 'POSBB', 'PTAT','PTBB','TRR', 'TRRNI']
df4.index = df4.index.rename('ID')
df4 = df4.fillna(value='nao')
df4.head()

   ATEM                     COF COFG  ... PTBB  TRR TRRNI
ID                                    ...
1   nao  COF (Consumidor Final)  nao  ...  nao  nao   nao
2   nao  COF (Consumidor Final)  nao  ...  nao  nao   nao
3   nao                     nao  nao  ...  nao  nao   nao
4   nao                     nao  nao  ...  nao  nao   nao
5   nao                     nao  nao  ...  nao  nao   nao

[5 rows x 8 columns]

**Tratamento da tabela Dados dos Pesquisados**

In [69]:
df2 = df.loc[:,'Digite os dados do pesquisado':'Unnamed: 18']
df2.columns = df2.loc[0]
df2 = df2.drop(0)
df2.columns = ['nome', 'empresa','endereco','endereco2','cidade','estado','codigo_postal', 'pais','email','telefone']
df2.index = df2.index.rename('ID')
df2 = df2.fillna(value='nao_informado')

df2.head()

              nome  ...         telefone
ID                  ...
1       YURI LEMOS  ...  (092) 981014422
2   LUCIANO ARAUJO  ...   (92) 991602421
3        CRISTIANE  ...        3266-1696
4        CRISTIANE  ...        3266-1696
5        CRISTIANE  ...        3266-1696

[5 rows x 10 columns]

**Incluindo campo cargo**

In [70]:
aux = 'nao'
df2['Cargo'] =['Diretor' if a != aux
              else 'Gerente' if b != aux
              else 'Coordenador' if c != aux
              else 'Assistente' if d != aux
              else e if e != aux
              else 'Não Informado'
              for a,b,c,d,e in zip(df3['diretor'].to_list(), df3['gerente'].to_list(), df3['coordenador'].to_list(), df3['assistente'].to_list(), df3['outro'].to_list())]

df2.head()

              nome  ...    Cargo
ID                  ...
1       YURI LEMOS  ...    SOCIO
2   LUCIANO ARAUJO  ...  Diretor
3        CRISTIANE  ...  Gerente
4        CRISTIANE  ...  Gerente
5        CRISTIANE  ...  Gerente

[5 rows x 11 columns]

**Incluindo campo segmento**

In [71]:
aux = 'nao'
df2['Segmento'] =['ATEM' if a != aux
              else 'COF' if b != aux
              else 'COFG' if c != aux
              else 'POSBB' if d != aux
              else 'PTAT' if e != aux
              else 'PTBB' if e != aux
              else 'TRR' if e != aux
              else 'TRRNI' if e != aux
              else 'Não Informado'
              for a,b,c,d,e,f,g,h in zip(df4['ATEM'].to_list(), df4['COF'].to_list(), df4['COFG'].to_list(), df4['POSBB'].to_list(), df4['PTAT'].to_list(), df4['PTBB'].to_list(), df4['TRR'].to_list(), df4['TRRNI'].to_list())]
               

df2.head()

              nome                                 empresa  ...    Cargo Segmento
ID                                                          ...
1       YURI LEMOS              PIONEIRO COMBUSTIVEIS LTDA  ...    SOCIO      COF
2   LUCIANO ARAUJO  MANAOS COOP DE TRAN ALT COL URB EST AM  ...  Diretor      COF
3        CRISTIANE                MANENTI COM DE COMB LTDA  ...  Gerente    POSBB
4        CRISTIANE         POSTO MANENTI COMBUSTIVEIS LTDA  ...  Gerente    POSBB
5        CRISTIANE                       MANENTI E MANENTI  ...  Gerente    POSBB

[5 rows x 12 columns]

**Dados do Pesquisado - Tratamento de cidade, estado, cargo, coordenada**

---

In [72]:

for k in ['cidade','estado','Cargo']:
    df2[k]=df2[k].str.capitalize()
    df2[k]= [unidecode(x) for x in df2[k]]

df2['estado']= df2['estado'].str.upper()

for index, row in df2.iterrows():
  for es in sigla_to_estados:
    if row['estado'] == es:
      df2.at[index,'estado'] = sigla_to_estados[es]

df2['estado']= df2['estado'].str.capitalize()
df2['estado']=  [unidecode(x) for x in df2['estado']]


for index, row in df2.iterrows():
  for es in estados_sem_acento:
    if row['estado'] == es:
      df2.at[index,'estado'] = estados_sem_acento[es]

df2['cidade'] = df2['cidade'].str.strip().replace(['Novo horizonte', 'Novo horizonte do oe'], 'Novo Horizonte do Oeste')
df2['cidade'] = df2['cidade'].str.strip().replace('Boa vista do', 'Boa Vista do Ramos')
df2['cidade'] = df2['cidade'].str.strip().replace('Itaiuba', 'Itaituba')
df2['cidade'] = df2['cidade'].str.strip().replace(['Ji parana', 'Ji-parana'], 'Ji-Paraná')
df2['cidade'] = df2['cidade'].str.strip().replace('Tapua', 'Tapauá')
df2['cidade'] = df2['cidade'].str.strip().replace('Nossa Senhora', 'Nossa Senhora do Livramento')
df2['cidade'] = df2['cidade'].str.strip().replace('Lucas do rio', 'Lucas do Rio Verde')

for index, row in df2.iterrows():
  for es in localizacao_do_municipio:
    if row['cidade'] == es:
      df2.at[index,'endereco'] = localizacao_do_municipio[es]

df2['coordenadas'] = [get_lat_lng(x) for x in df2['endereco']]

df2['latitude'] =[x[0] for x in df2['coordenadas']]

df2['longitude'] = [x[1] for x in df2['coordenadas']]

df2['pais'] = 'Brasil'

df2 = df2.drop(columns=['endereco2','codigo_postal', 'email'])

df2 = pd.merge(df2,df_geral, on='ID', left_index=True)

df2.to_json(f'dados_do_pesquisado.json',orient="records")
df2.to_excel('dados_do_pesquisado.xlsx')

df2.head()

              nome  ...      hora
ID                  ...
1       YURI LEMOS  ...  14:38:37
2   LUCIANO ARAUJO  ...  14:38:42
3        CRISTIANE  ...  11:09:59
4        CRISTIANE  ...  14:12:22
5        CRISTIANE  ...  13:31:31

[5 rows x 15 columns]

*retirada de duplicatas*

In [78]:
df2 = df2.drop_duplicates()
df2.to_excel('pesquisado_sem_duplicatas.xlsx')

df2

                  nome  ...  longitude
ID                      ...
1           YURI LEMOS  ... -60.014607
2       LUCIANO ARAUJO  ... -60.014607
3            CRISTIANE  ... -59.332300
4            CRISTIANE  ... -59.332300
5            CRISTIANE  ... -59.332300
..                 ...  ...        ...
251  Magaivar Bandeira  ... -68.738455
252    ANTONIO MARCOS   ... -60.184941
253             Manoel  ... -58.605930
254               Cleo  ... -63.882103
255            FRANCIS  ... -60.014607

[246 rows x 12 columns]

*Envio da tablea dados dos pesquisados*

In [161]:
f = open ('dados_do_pesquisado.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_dados_do_pesquisado',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

(255, [])

**Tratamento das Tabelas de Avaliação**

---

##**Tabela Avaliação do atendimento do acessor comercial**

In [126]:
df5 = df.loc[:,'Quanto a prestação de serviço do seu assessor comercial, classifique os seguintes itens:':'Unnamed: 36']
df5.columns = df5.loc[0]
df5 = df5.drop(0)
df5.columns = ['cordialidade','disponibilidade','eficacia','eficiencia','orientacoes_tecnicas_legais']
df5.index = df5.index.rename('ID')
df5 = df5.fillna(value=1000)
'''
df5['pergunta_cordialidade'] = 'Cordialidade'
df5['pergunta_disponibilidade'] = 'Disponibilidade'
df5['pergunta_eficacia'] = 'Eficácia'
df5['pergunta_eficiencia'] = 'Eficiência'
df5['pergunta_orientacoes_tecnicas'] = 'Orientações Técnicas'
'''
df5 = pd.merge(df5,df_geral, on='ID', left_index=True)

df5.to_json(f'avaliacao_atendimento_acessorcomercial.json',orient="records")

df5.head()

   cordialidade disponibilidade  ...        data      hora
ID                               ...
1             5               5  ...  2020-12-22  14:38:37
2             5               5  ...  2020-12-22  14:38:42
3             5               5  ...  2020-12-22  11:09:59
4             5               5  ...  2020-12-22  14:12:22
5             5               5  ...  2020-12-22  13:31:31

[5 rows x 8 columns]

In [ ]:
'''f = open ('avaliacao_atendimento_acessorcomercial.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_atendimento_acessorcomercial',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)'''

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

(255, [])

##**Tabela de Avaliação em nota relacionamento com o acessor comercial**

In [ ]:
df6 = df.loc[:,'Em linhas gerais, como considera o relacionamento com o seu assessor comercial:':'Unnamed: 38']
df6.columns = df6.loc[0]
df6 = df6.drop(0)

df6.columns = ['nota', 'comentario']
df6.index = df6.index.rename('ID')
df6['nota'] = df6['nota'].fillna(value=1000)
df6['comentario'] = df6['comentario'].fillna(value='nao_informado')

df6 = pd.merge(df6,df_geral, on='ID', left_index=True)

df6.to_json(f'avaliacao_nota_relacionamento_acessorcomercial.json',orient="records")

df6.head()

    nota       comentario           data_time        data      hora
ID
1      5  NADA A RECLAMAR 2020-12-22 14:38:37  2020-12-22  14:38:37
2      5         PERFEITO 2020-12-22 14:38:42  2020-12-22  14:38:42
3      5    nao_informado 2020-12-22 11:09:59  2020-12-22  11:09:59
4   1000    nao_informado 2020-12-22 14:12:22  2020-12-22  14:12:22
5      5    nao_informado 2020-12-22 13:31:31  2020-12-22  13:31:31

In [ ]:
'''f = open ('avaliacao_nota_relacionamento_acessorcomercial.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_nota_relacionamento_acessorcomercial',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)'''

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

(255, [])

##**Tabela Avaliação do serviço de entrega**

In [127]:
df7 = df.loc[:,'SE ENTREGA responder as perguntas 6 e 7Em caso de entrega do produto no posto ou empresa do cliente, classifique o serviço prestado pela ATEM nos itens abaixo:':'Unnamed: 43']
df7.columns = df7.loc[0]
df7 = df7.drop(0)
df7.columns = ['cordialidade_do_motorista','entrega_no_prazo','ciclo_pedido_adequado','condicoes_de_frota','procedimentos_seguranca_na_entrega']
df7.index = df7.index.rename('ID')
df7 = df7.fillna(value=1000)

df7 = pd.merge(df7,df_geral, on='ID', left_index=True)

df7.to_json(f'avaliacao_servico_entrega.json',orient="records")

df7.head()

   cordialidade_do_motorista entrega_no_prazo  ...        data      hora
ID                                             ...
1                          5                5  ...  2020-12-22  14:38:37
2                          5                5  ...  2020-12-22  14:38:42
3                       1000             1000  ...  2020-12-22  11:09:59
4                       1000             1000  ...  2020-12-22  14:12:22
5                       1000             1000  ...  2020-12-22  13:31:31

[5 rows x 8 columns]

In [ ]:

'''f = open ('avaliacao_servico_entrega.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_servico_entrega',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)'''

##**Tratando e gerando tabela Avaliação em nota do serviço de entrega**

In [128]:
df8 = df.loc[:,'Em linhas gerais como considera o serviço de entrega da ATEM?':'Unnamed: 49']
df8.columns = df8.loc[0]
df8 = df8.drop(0)
df8.index = df8.index.rename('ID')

df8[5.0] = df8[5.0].fillna(value=1000)
df8[4.0] = df8[4.0].fillna(value=1000)
df8[3.0] = df8[3.0].fillna(value=1000)
df8[2.0] = df8[2.0].fillna(value=1000)
df8[1.0] = df8[1.0].fillna(value=1000)

aux = 1000
df8['Nota'] =['5' if a != aux
              else '4' if b != aux
              else '3' if c != aux
              else '2' if d != aux
              else '1' if e != aux
              else 'Não Informado'
              for a,b,c,d,e in zip(df8[5.0].to_list(), df8[4.0].to_list(), df8[3.0].to_list(), df8[2.0].to_list(), df8[1.0].to_list())]
               
df8 = df8.drop(columns=[5.0,4.0,3.0,2.0,1.0])
df8.columns = [ 'comentario','nota']
#df8['nota'] = df8['nota'].fillna(value=1000)
df8['comentario'] = df8['comentario'].fillna(value='nao_informado')

df8 = pd.merge(df8,df_geral, on='ID', left_index=True)

df8.to_json(f'avaliacao_nota_servico_entrega.json',orient="records")



df8.head()

                                           comentario  ...      hora
ID                                                     ...
1   PELO TEMPO DE ENTREGA DENTRO DO HORARIO COMERCIAL  ...  14:38:37
2                  VAI MAIS MOTORISTAS BONS QUE RUINS  ...  14:38:42
3                                       nao_informado  ...  11:09:59
4                                       nao_informado  ...  14:12:22
5                                       nao_informado  ...  13:31:31

[5 rows x 5 columns]

In [ ]:

'''f = open ('avaliacao_nota_servico_entrega.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_nota_servico_entrega',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)'''

##**Tabela Avaliação da retirada do produto na base da ATEM**

In [129]:
df9 = df.loc[:,'SE RETIRA responder as perguntas 8 e 9Em caso de retirada do produto na base da ATEM:':'Unnamed: 54']
df9.columns = df9.loc[0]
df9 = df9.drop(0)
df9.columns = ['cordialidade_do_atendimento','mercadoria_disponivel_no_prazo','tempo_do_ciclo_do_pedido_adequado','procedimentos_de_seguranca_na_entrega','comunicacao_de_agenda_eficiente']
df9.index = df9.index.rename('ID')
df9 = df9.fillna(value=1000)

df9 = pd.merge(df9,df_geral, on='ID', left_index=True)

df9.to_json(f'avaliacao_retirada_na_base_atem.json',orient="records")


df9.head()

   cordialidade_do_atendimento  ...      hora
ID                              ...
1                         1000  ...  14:38:37
2                         1000  ...  14:38:42
3                            3  ...  11:09:59
4                            3  ...  14:12:22
5                            3  ...  13:31:31

[5 rows x 8 columns]

In [ ]:
'''f = open ('avaliacao_retirada_na_base_atem.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_retirada_na_base_atem',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)'''

##**Tratando e Gerando tabela Avaliação em nota da retirada do produto na base da ATEM**

In [130]:

df10 = df.loc[:,'Em linhas gerais como considera o serviço de retirada do produto na base da ATEM?':'Unnamed: 60']
df10.columns = df10.loc[0]
df10 = df10.drop(0)

df10.index = df10.index.rename('ID')

df10[5.0] = df10[5.0].fillna(value=1000)
df10[4.0] = df10[4.0].fillna(value=1000)
df10[3.0] = df10[3.0].fillna(value=1000)
df10[2.0] = df10[2.0].fillna(value=1000)
df10[1.0] = df10[1.0].fillna(value=1000)

aux=1000
df10['Nota'] =['5' if a != aux
              else '4' if b != aux
              else '3' if c != aux
              else '2' if d != aux
              else '1' if e != aux
              else 'Não Informado'
              for a,b,c,d,e in zip(df10[5.0].to_list(), df10[4.0].to_list(), df10[3.0].to_list(), df10[2.0].to_list(), df10[1.0].to_list())]
               
df10 = df10.drop(columns=[5.0,4.0,3.0,2.0,1.0])
df10.columns = ['comentario','nota']
#df10['nota'] = df10['nota'].fillna(value=1000)
df10['comentario'] = df10['comentario'].fillna(value='nao_informado')

df10 = pd.merge(df10,df_geral, on='ID', left_index=True)


df10.to_json(f'avaliacao_nota_retirada_na_base_atem.json',orient="records")

df10.head()

       comentario           nota           data_time        data      hora
ID
1   nao_informado  Não Informado 2020-12-22 14:38:37  2020-12-22  14:38:37
2   nao_informado  Não Informado 2020-12-22 14:38:42  2020-12-22  14:38:42
3   nao_informado              5 2020-12-22 11:09:59  2020-12-22  11:09:59
4   nao_informado              5 2020-12-22 14:12:22  2020-12-22  14:12:22
5   nao_informado              5 2020-12-22 13:31:31  2020-12-22  13:31:31

In [ ]:
'''f = open ('avaliacao_nota_retirada_na_base_atem.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_nota_retirada_na_base_atem',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)'''

##**Tabela Avaliação em nota central de atendimento**

In [131]:
df11 = df.loc[:,'Quanto a Central de Atendimento da ATEM, classifique os seguintes itens:':'Unnamed: 63']
df11.columns = df11.loc[0]
df11 = df11.drop(0)
df11.columns = ['cordialidade','eficacia','eficiencia']
df11.index = df11.index.rename('ID')
df11 = df11.fillna(value=1000)

df11 = pd.merge(df11,df_geral, on='ID', left_index=True)

df11.to_json(f'avaliacao_nota_atendimento_da_central.json',orient="records")

df11.head()

   cordialidade eficacia eficiencia           data_time        data      hora
ID
1          1000     1000       1000 2020-12-22 14:38:37  2020-12-22  14:38:37
2          1000     1000       1000 2020-12-22 14:38:42  2020-12-22  14:38:42
3             5        5          5 2020-12-22 11:09:59  2020-12-22  11:09:59
4             5        5          5 2020-12-22 14:12:22  2020-12-22  14:12:22
5             5        5          5 2020-12-22 13:31:31  2020-12-22  13:31:31

In [ ]:
'''f = open ('avaliacao_nota_atendimento_da_central.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_nota_atendimento_da_central',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1

helpers.bulk(es,itens)'''

##**Tabela Avaliação central de atendimento**
* Foi aplicado o tratamento no campo comentário sobre a nota - separar nota do comentario

Tratamento da tabela

In [ ]:
df12 = df.loc[:,'Você já fez alguma reclamação ou solicitação na CA?Se SIM, responder P12 e P13. Se NÃO pular para P14':'Observações da Pesquisa: (Atendente)']
df12.columns = df12.loc[0]
df12 = df12.drop(0)
df12.columns = ['fez_alguma_reclamacao_ou_solicitacao','quantas_vezes_abriu_chamado','recebeu_retorno_em_48hs',
                'apresentaram_solucao_da_solicitacao','como_considera_servico_central','comentario_sobre_a_nota','ha_interesse_dos_clientes_nas_ações',
                'ha_aumento_de_vendas_no_período','ha_conquista_de_novos_clientes','comentario_atendente_sobre_pesquisado']
df12.index = df12.index.rename('ID')

aux = 'Por que atribuiu esta nota? Comente'
df12['como_considera_servico_central'] =['0' if x == aux
                                    else x
                                    for x in df12['como_considera_servico_central'] ]


df12['fez_alguma_reclamacao_ou_solicitacao'] = df12['fez_alguma_reclamacao_ou_solicitacao'].fillna(value='nao_informado')
df12['quantas_vezes_abriu_chamado'] = df12['quantas_vezes_abriu_chamado'].fillna(value='nao_informado')
df12['recebeu_retorno_em_48hs'] = df12['recebeu_retorno_em_48hs'].fillna(value='nao_informado')
df12['apresentaram_solucao_da_solicitacao'] = df12['apresentaram_solucao_da_solicitacao'].fillna(value='nao_informado')
df12['como_considera_servico_central'] = df12['como_considera_servico_central'].fillna(value=1000)
df12['comentario_sobre_a_nota'] = df12['comentario_sobre_a_nota'].fillna(value='nao_informado')
df12['comentario_atendente_sobre_pesquisado'] = df12['comentario_atendente_sobre_pesquisado'].fillna(value='nao_informado')

#df12 = pd.merge(df12,df_geral, on='ID', left_index=True)

#df11.to_json(f'avaliacao_central_atendimento.json',orient="records")




df12

    fez_alguma_reclamacao_ou_solicitacao  ...              comentario_atendente_sobre_pesquisado
ID                                        ...
1                                    NÃO  ...                                          MIKAELLEN
2                                    NÃO  ...       OBS: PREÇO DA GASOLINA MUITO ALTO  MIKAELLEN
3                                    SIM  ...                                      nao_informado
4                                    SIM  ...                                      nao_informado
5                                    SIM  ...                                      nao_informado
..                                   ...  ...                                                ...
251                                  NÃO  ...  P.14 - Atendimento rápido, tem eficiência no a...
252                        nao_informado  ...                                      nao_informado
253                                  NÃO  ...                                      nao_informado
254                                  NÃO  ...                                      nao_informado
255                                  NÃO  ...                                      nao_informado

[255 rows x 10 columns]

Tratamento da nota

In [ ]:
count = 0

for index, row in df12.iterrows():
  for s in row['comentario_sobre_a_nota']:
    try:
      d = int(s)
      if str(type(d)) == "<class 'int'>" :
        #print(s)
        df12.at[index,'como_considera_servico_central'] = d
        break
    except:
      #print('error')
      pass



  if '14' in row['comentario_atendente_sobre_pesquisado']:

    df12.at[index,'comentario_atendente_sobre_pesquisado']  = row['comentario_atendente_sobre_pesquisado'].replace('14','')
    print(df12.at[index,'comentario_atendente_sobre_pesquisado'])

    for c in row['comentario_atendente_sobre_pesquisado']:
      try:
        a = int(c)
        if str(type(a)) == "<class 'int'>" :
          print(a)
          df12.at[index,'como_considera_servico_central'] = a
          break
      except:
        #print('error')
        pass

    
  count +=1

P. - Não tem o que reclamar, adquiriu o posto recente, ainda esse ano. Quanto as promoções ele não sabe mensurar por ter começado esse ano.    Att. Chris
P - RESP5  GEOVANNA
5
P - R5  MIKAELLEN
5
P- RESP- 5
5
P. Muito bom sem reclamações.
P- RESP-3
3
P RESP- 3
3
P SATISFEITO
P: 5
5
P: NADA A RECLAMAR !OBS: DO CLIENTE HÁ PROBLEMAS COM A CONCORRENCIA EM RELACAO AO VALOR E POR ISSO NÃO A CONQUISTA EM NOVOS CLIENTES.
P- MUITO EFICIENTE
P- MUITO EFICIENTE
P.. Percebe constante melhorias.
p. ele percebe constante melhorias.
P. quando precisa de ajuda os atendentes, talvez seja Maria o nome da moça, sempre é bem prestativa, resolve rápido quando existe alguma dificuldade com boleto, estão sempre dispostos em ajudar.    Quanto a Atem no geral:  Logo quando começou o negócio, ano passado quando iniciou uma venda forte de diesel, a Atem foi a que mais abriu portas, crédito, essas coisas, a relação que ele desenvolveu já é de amizade e fidelidade. Ele se sente muito grato e não tem o que reclamar.
P. - Atendimento rápido, tem eficiência no atendimento, passa os valores rápido.

Remoção de campos e união de tabelas

In [ ]:

df12 = df12.drop(['ha_interesse_dos_clientes_nas_ações', 'ha_aumento_de_vendas_no_período','ha_conquista_de_novos_clientes', 'comentario_atendente_sobre_pesquisado'], axis='columns')

df12 = pd.merge(df12,df_geral, on='ID', left_index=True)
df12.to_json(f'avaliacao_central_atendimento.json',orient="records")
df12.to_excel('avaliacao_central_atendimento.xlsx')

df12

    fez_alguma_reclamacao_ou_solicitacao  ...      hora
ID                                        ...
1                                    NÃO  ...  14:38:37
2                                    NÃO  ...  14:38:42
3                                    SIM  ...  11:09:59
4                                    SIM  ...  14:12:22
5                                    SIM  ...  13:31:31
..                                   ...  ...       ...
251                                  NÃO  ...  15:46:41
252                        nao_informado  ...  15:45:21
253                                  NÃO  ...  15:43:22
254                                  NÃO  ...  15:41:24
255                                  NÃO  ...  15:41:25

[255 rows x 9 columns]

Envio para o elasticsearch

In [ ]:
'''f = open ('avaliacao_central_atendimento.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_central_atendimento',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1


helpers.bulk(es,itens)'''

/usr/local/lib/python3.6/dist-packages/urllib3/connectionpool.py:847: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
  InsecureRequestWarning)

(255, [])

##**Tabela de avaliação das ações promocionais de marketing**

In [132]:
df13 = df.loc[:,'(Somente posto ATEM e pontão ATEM) Quanto as ações promocionais de Marketing, você observa que:':'Unnamed: 72']
df13.columns = df13.loc[0]
df13 = df13.drop(0)
df13 = df13.fillna(value=' nao_informado')
df13.columns = ['existe_interesses_dos_clientes_nas_acoes','existe_aumento_nas_vendas_no_periodo','existe_novos_clientes']


df13.index = df13.index.rename('ID')

df13 = pd.merge(df13,df_geral, on='ID', left_index=True)

df13.to_json(f'avaliacao_acoes_promocionais_marketing.json',orient="records")

df13.head()

   existe_interesses_dos_clientes_nas_acoes  ...      hora
ID                                           ...
1                             nao_informado  ...  14:38:37
2                             nao_informado  ...  14:38:42
3                                       Sim  ...  11:09:59
4                                       Sim  ...  14:12:22
5                                       Sim  ...  13:31:31

[5 rows x 6 columns]

In [ ]:
'''f = open ('avaliacao_acoes_promocionais_marketing.json', "r")
data = json.loads(f.read())
itens = []
cont = 0

for i in data:
  dict = {
    '_index': 'atem_avaliacao_acoes_promocionais_marketing',
    'id': f"Item{cont}{i['data_time']}",
    '_source': i
  }

  itens.append(dict)
  cont+=1


helpers.bulk(es,itens)'''

#**União tabelas**

In [ ]:
df1.merge(df2, left_on='lkey', right_on='rkey')